.article {
  $this: &;
  position: relative;

  &__header {
    margin: 0 auto 3rem;
    display: grid;
    justify-items: start;
    gap: 1.6rem 0;
    position: relative;

    grid-template-areas:
      "backward"
      "title"
      "img";

    @include media(">=sm") {
      margin-bottom: 4rem;
    }

    @include media(">=md") {
      gap: 1.8rem 8rem;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "title backward"
        "img img";
    }

    @include media(">=3xl") {
      margin-bottom: 5rem;
      gap: 3.5rem 8rem;
    }
  }

  &__author {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 4rem 1.6rem 1.6rem;
    color: $white;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8519782913165266) 0%,
      rgba(0, 0, 0, 0.6026785714285714) 40%,
      rgba(0, 0, 0, 0) 100%
    );

    @include media(">=lg") {
      padding: 6rem 2.4rem 2.4rem;
    }
  }

  &__date {
    @include positionLeftTop();
    z-index: 10;
    background-color: black;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 0.4rem 1.2rem;

    @include media(">=2xl") {
      font-size: 1.1rem;
    }
  }

  &__backward {
    grid-area: backward;
    margin-bottom: 0.5rem;

    @include media(">=md") {
      margin-bottom: 0;
    }
  }

  &__title {
    @include v-rythm("h1", 0.8);
    margin: 0;
    grid-area: title;

    @include media(">=md") {
      @include v-rythm("h1", 0.9);
      margin: 0;
    }

    @include media(">=3xl") {
      margin: 0;
    }
  }

  &__img {
    grid-area: img;
    position: relative;
  }

  &__img-wrapper {
    display: block;
  }

  &__img-item {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba($white, 0.6);
    backdrop-filter: blur(10px);

    &.sticky-header--sticky {
      position: fixed;
      top: 7.6rem;
      left: 0;
      width: 100%;
      bottom: auto;
      border-top: none;
      border-bottom: 1px solid $gray300;
      z-index: 100;

      @include media(">=md") {
        top: 8.3rem;
      }

      @include media(">=xl") {
        top: 9.8rem;
        left: 9rem;
        width: calc(100% - 9rem);
      }

      @include media(">=3xl") {
        top: 12.4rem;
        left: 13rem;
        width: calc(100% - 13rem);
      }

      #{$this}__nav-list {
        @extend .container;
        @extend .container--screen-xl;
      }
    }
  }

  &__nav-list {
    @extend %listReset;
    display: flex;
  }

  &__nav-item {
    @extend %listReset;
    flex: 1 0 auto;

    &:last-child #{$this}__nav-link {
      border: none;
    }
  }

  &__nav-link {
    @extend %linkReset;
    @include fs("body2");
    @include animate(background-color);
    color: $black;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    border-right: 1px solid $gray300;
    padding: 1.2rem 2.2rem;

    @include media(">=3xl") {
      padding: 1.8rem 3.6rem;
    }

    @include mediaHover() {
      &:hover {
        #{$this}__nav-icon {
          transform: translateX(0.5rem);

          @include media(">=3xl") {
            transform: translateX(1rem);
          }
        }
      }
    }
  }

  &__nav-icon {
    @include sizeRatio(1.4rem);
    @include animate(transform);
    fill: $black;

    @include media(">=3xl") {
      @include sizeRatio(1.8rem);
    }
  }

  &__section {
    margin-bottom: 5rem;

    @include media(">=3xl") {
      margin-bottom: 6rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__discount-info {
    grid-area: discount;
  }

  &--discount {
    #{$this}__header {
      grid-template-areas:
        "backward"
        "discount"
        "title"
        "img";

      @include media(">=md") {
        grid-template-columns: 1fr auto;
        grid-template-areas:
          "backward ."
          "title discount"
          "img img";
      }
    }
  }

  &--service {
    #{$this}__header {
      grid-template-areas:
        "backward"
        "title"
        "img";

      @include media(">=md") {
        grid-template-areas:
          "title backward"
          "img img";
      }
    }

    #{$this}__body {
      max-width: 900px;
    }
  }
}
