.banner {
  position: relative;
  padding: 4rem 0;
  min-height: 59rem;

  $this: &;

  @include media(">=md") {
    padding: 5rem 0;
    min-height: 0;
  }

  @include media(">=2xl") {
    padding: 6rem 0;
  }

  @include media(">=3xl") {
    padding: 9rem 0;
  }

  &__container {
    min-width: 32rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(0, 40rem));

    @include media(">=md") {
      grid-template-columns: 1fr 36rem;
      grid-template-areas: "text content";
      gap: 2rem;
    }

    @include media(">=lg") {
      grid-template-columns: 1fr 40rem;
      gap: 4rem;
    }

    @include media(">=xl") {
      grid-template-columns: 1fr 43rem;
      gap: 7rem;
    }

    @include media(">=2xl") {
      grid-template-columns: 1fr 44rem;
      gap: 10rem;
    }
  }

  &__img {
    display: block;
    @include positionTopLeft();
    width: 100%;
    height: 100%;
  }

  &__img-item {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__text {
    position: relative;
    z-index: 10;
    margin: 0 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    @include clearMarginY("&");

    @include media(">=md") {
      margin: 0;
      grid-area: text;
    }

    &--center-x {
      align-items: center;
      text-align: center;
    }

    &--center-y {
      align-self: center;
    }

    &--bottom {
      align-self: end;
    }

    &--right {
      align-items: flex-end;
      text-align: right;
    }
  }

  &__logo {
    display: block;
    width: 15rem;
    margin: 0 0 2rem;

    @include media(">=2xl") {
      width: 20rem;
      margin: 0 0 3rem;
    }
  }

  &__tagline {
    @include v-rythm("h1", 0.9);
    margin-top: 0;
    font-weight: 400;

    @include media(">=md") {
      @include v-rythm("h1", 1.1);
      margin-top: 0;
    }

    @include media(">=lg") {
      @include v-rythm("h1", 1.2);
      margin-top: 0;
    }

    @include media(">=xl") {
      @include v-rythm("h1", 1.3);
      margin-top: 0;
      font-weight: 300;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: rgba($black, 0.6);
    backdrop-filter: blur(1rem);
    padding: 3rem;
    color: $white;
    box-shadow: 3rem 3rem 6rem rgba($black, 0.2);
    @include clearMarginY("&");

    @include media(">=lg") {
      margin: 0;
      padding: 4rem;
      grid-area: content;
    }

    @include media(">=xl") {
      margin: 0;
      padding: 5rem;
      border-radius: 0 0 4rem 0;
    }

    @include media(">=2xl") {
      margin: 0;
      padding: 5rem;
      border-radius: 0 0 6rem 0;
    }

    @include media(">=3xl") {
      padding: 6rem;
      border-radius: 0 0 8rem 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: -35%;
      top: -35%;
      width: 170%;
      height: 170%;
      animation: bannerBg 10s linear infinite;
      transform-origin: center;
      background-color: hsla(184, 0%, 9%, 1);
      background-image: radial-gradient(
          at 94% 83%,
          hsla(191, 6%, 50%, 1) 0px,
          transparent 50%
        ),
        radial-gradient(at 46% 78%, hsla(191, 44%, 3%, 1) 0px, transparent 50%),
        radial-gradient(at 12% 24%, hsla(187, 4%, 41%, 1) 0px, transparent 50%);
    }

    > * {
      position: relative;
      z-index: 10;
    }
  }

  &__crumbs,
  &__desc {
    &:not(:last-child) {
      margin: 0 0 2.8rem;

      @include media(">=3xl") {
        margin: 0 0 4rem;
      }
    }
  }

  &__mousewheel {
    @extend %buttonReset;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    animation: scrollDown 1s ease-in-out infinite;
  }

  &--service {
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    // position: fixed;
    // overflow-y: auto;

    @include media("portrait") {
      min-height: calc(100dvh - 7.6rem);
      // min-height: min(100vw * 1.777, 100dvh - 7.6rem);
    }

    // @include media("landscape") {
    //   min-height: 100dvh - 7.6rem;
    // }

    @include media(">=sm", "portrait") {
      min-height: min(177.7vw, calc(100dvh - 7.6rem));
    }

    @include media(">=sm", "landscape") {
      min-height: min(0.5625vw, calc(100dvh - 7.6rem));
    }

    @include media(">=md") {
      padding: 6rem 2rem;
    }

    @include media(">=md", "portrait") {
      min-height: min(177.7vw, calc(100dvh - 8.4rem));
    }

    @include media(">=md", "landscape") {
      min-height: min(0.5625vw, calc(100dvh - 8.4rem));
    }

    @include media(">=xl") {
      min-height: min(calc(100dvh - 9.8rem), 90.8rem);
    }

    @include media(">=3xl") {
      min-height: min(calc(100dvh - 12.4rem), 90.8rem);
    }

    // @include media(">=2xl") {
    //   min-height: min(80rem, calc(100dvh - 9.8rem));
    // }

    // @include media(">=3xl") {
    //   min-height: min(98rem, calc(100dvh - 12.4rem));
    // }

    #{$this}__container {
      @include media("<xl") {
        grid-template-columns: unset;
        grid-template-areas: unset;
      }
    }

    #{$this}__text {
      margin: 0;
    }

    #{$this}__content {
      display: none;

      @include media(">=xl") {
        display: block;
      }
    }

    #{$this}__text {
      max-width: 71rem;
    }

    #{$this}__appointment-btn {
      @include media(">=xl") {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      backdrop-filter: blur(4px);
      background: rgb(39, 39, 39);
      background: linear-gradient(
        0deg,
        rgba(39, 39, 39, 1) 0%,
        rgba(21, 21, 21, 0.75) 65%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }
  }

  &--dark {
    color: $white;
  }

  &--reverse {
    #{$this}__container {
      @include media(">=md") {
        grid-template-columns: 36rem 1fr;
        grid-template-areas: "content text";
      }

      @include media(">=lg") {
        grid-template-columns: 40rem 1fr;
      }

      @include media(">=xl") {
        grid-template-columns: 48rem 1fr;
      }
    }
  }
}

@keyframes scrollDown {
  50% {
    transform: translate(-50%, 50%);
  }
}

@keyframes bannerBg {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.5) rotate(90deg) translate(15%);
  }

  50% {
    transform: scale(1.8) rotate(180deg) translate(0);
  }

  75% {
    transform: scale(1.2) rotate(270deg) translate(-15%);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}
