.blog-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 1.5rem;
  height: 100%;

  $this: &;

  @include mediaHover() {
    &:hover {
      #{$this}__decor {
        fill-opacity: 0.5;
      }
    }
  }

  &__decor {
    position: absolute;
    z-index: 30;
    bottom: 0;
    right: 1rem;
    transform: translateY(50%);
    stroke-width: 1px;
    stroke: #e3ded0;
    fill: #e3ded0;
    fill-opacity: 0;
    @include animate(fill-opacity);
  }

  &__img-link {
    display: block;
    width: 100%;
  }

  &__img {
    display: block;
    position: relative;
    width: 100%;
    padding: 40% 0;
    margin-bottom: 2rem;
    z-index: 5;
    overflow: hidden;
  }

  &__img-item {
    @include positionTopLeft();
    @include animate(transform);
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mediaHover() {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__date {
    display: block;
    width: 100%;
    padding: 2rem 0 0 0;
    border-top: 1px solid $gray600;
    margin: 0 0 1rem;
    color: $gray500;
    position: relative;
    @include fs("body2");

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.4rem;
      width: 100%;
      border-top: 1px solid $gray600;
    }
  }

  &__title {
    color: inherit;
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
    margin: 0 0 2rem;
    position: relative;
    z-index: 10;
    font-weight: 400;
    @include textEllipsisMultiline(3);
  }

  &__btn {
    margin-top: auto;
  }
}
