.card-carousel {
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;

  $this: &;

  @include media(">=md") {
    overflow: visible;
  }

  @include media(">=xl") {
    padding-bottom: 0;
  }

  .swiper-slide {
    height: 100%;
  }

  &__nav {
    @extend %buttonReset;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);

    &--next {
      left: calc(50% + 4rem);
    }

    &--prev {
      right: calc(50% + 4rem);
    }

    @include mediaHover() {
      &:hover {
        #{$this}__nav-icon {
          transform: scale(1.4);
        }
      }
    }

    @include media(">=md") {
      display: block;
      padding: 1rem;
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($black, 0.6);
      z-index: 10;

      &--next {
        @include positionRightCenter();
        left: auto;
        right: 0;
      }

      &--prev {
        @include positionLeftCenter();
        right: auto;
        left: 0;
      }
    }
  }

  &__nav-icon {
    @include sizeRatio(2.4rem, 1);
    @include animate(transform, 0.15s);

    @include media(">=md") {
      fill: $white;
    }
  }

  &--doctors,
  &--service-doctors {
    margin-right: -1rem;
    padding-bottom: 0;

    @include media(">=md") {
      margin-right: 0;
    }

    #{$this}__nav {
      display: none;

      @include media(">=md") {
        display: block;
      }
    }

    #{$this}__swiper {
      padding-right: 14rem;
      overflow: visible;

      @include media(">=md") {
        padding-right: 0;
        overflow: hidden;
      }
    }

    .swiper-slide {
      height: auto;
    }
  }

  &--discount {
    margin-right: -1rem;
    padding-bottom: 0;

    @include media(">=md") {
      margin-right: 0;
    }

    #{$this}__nav {
      display: none;

      @include media(">=md") {
        display: block;
      }

      &--next,
      &--prev {
        @include media(">=md") {
          top: 12.4rem;
        }

        @include media(">=lg") {
          top: 15.5rem;
        }

        @include media(">=2xl") {
          top: 15rem;
        }
      }
    }

    #{$this}__swiper {
      padding-right: 5rem;
      overflow: visible;

      @include media(">=md") {
        padding-right: 0;
        overflow: hidden;
      }
    }

    .swiper-wrapper {
      padding-top: 1.3rem;
    }

    .swiper-slide {
      height: auto;
    }
  }

  &--doctors {
    #{$this}__nav {
      &--next,
      &--prev {
        @include media(">=md") {
          top: 18.9rem;
        }

        @include media(">=lg") {
          top: 16.6rem;
        }

        @include media(">=xl") {
          top: 17.8rem;
        }

        @include media(">=2xl") {
          top: 14.2rem;
        }

        @include media(">=3xl") {
          top: 17rem;
        }
      }
    }
  }

  &--demo {
    #{$this}__nav {
      &--next,
      &--prev {
        @include media(">=md") {
          top: 17.5rem;
        }

        @include media(">=lg") {
          top: 22.5rem;
        }

        @include media(">=xl") {
          top: 15.5rem;
        }

        @include media(">=2xl") {
          top: 21.7rem;
        }
      }
    }
  }

  &--service-doctors {
    #{$this}__nav {
      &--next,
      &--prev {
        @include media(">=md") {
          top: 18.4rem;
        }

        @include media(">=lg") {
          top: 15.4rem;
        }

        @include media(">=xl") {
          top: 15.2rem;
        }
      }
    }
  }

  &--blog {
    margin-right: -1rem;
    padding-bottom: 0;

    .swiper-wrapper {
      padding-top: 1.3rem;
    }

    @include media(">=md") {
      margin-right: 0;
    }

    #{$this}__nav {
      display: none;

      @include media(">=md") {
        display: block;
      }

      &--next,
      &--prev {
        @include media(">=md") {
          top: 13.9rem;
        }

        @include media(">=lg") {
          top: 11.8rem;
        }

        @include media(">=xl") {
          top: 12.5rem;
        }

        @include media(">=2xl") {
          top: 11.8rem;
        }

        @include media(">=3xl") {
          top: 12.6rem;
        }
      }
    }

    #{$this}__swiper {
      padding-right: 14rem;
      overflow: visible;

      @include media(">=md") {
        padding-right: 0;
        overflow: hidden;
      }
    }
  }
}
