.contact-list {
  @extend %listReset;
  display: flex;
  gap: 3rem;

  @include media(">=2xl") {
    gap: 5rem;
  }

  &__item {
    @extend %listReset;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    position: relative;
    padding-left: 2.4rem;
    color: $gray400;

    @include media(">=3xl") {
      padding-left: 3.2rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.2rem;
      width: 1.6rem;
      height: 1.6rem;
      background: url("assets/images/marker-alt_white.svg") center / contain no-repeat;

      @include media(">=3xl") {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__address,
  &__phone {
    color: inherit;
    @include fs("body2");
    @include decorationHidden($white);
    @include animate(color text-decoration);

    @include mediaHover() {
      &:hover {
        color: $white;
      }
    }
  }

  &__phone {
    font-weight: 600;
  }
}
