.discount-card {
  display: flex;
  flex-direction: column;

  $this: &;

  &__link {
    @extend %linkReset;
    display: block;

    @include mediaHover() {
      &:hover {
        .discount-info__img-item {
          transform: scale(1.1);
        }
      }
    }
  }

  &__desc {
    padding: 1.6rem 2rem 2rem;
    box-shadow: inset 0 0 0 1px $gray200;
    flex: 1 1 auto;

    @include media(">=2xl") {
      padding: 2rem 2.8rem 2.8rem;
    }
  }

  &__title {
    @include fs("body");
    @include animate(text-decoration);
    font-weight: 600;
    margin: 0 0 0.8rem;
    text-decoration: underline transparent;
    text-underline-offset: 0.4rem;

    @include mediaHover() {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }

  &__title-link {
    @extend %linkReset;
  }

  &__excerpt {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    @include textEllipsisMultiline(4);
  }
}
