.downloads-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  gap: 1rem;
  @extend %listReset;

  $this: &;

  @include media(">=lg") {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  &__item {
    @extend %listReset;
  }

  &__link {
    @extend %linkReset;
    height: 100%;
    font-weight: 300;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1.2rem 1rem 1.2rem 2rem;
    border: 1px solid $black;
    @include animate(background-color color);

    @include mediaHover() {
      &:hover {
        background-color: $black;
        color: $white;

        #{$this}__icon {
          fill: $white;
        }
      }
    }

    @include media(">=md") {
      padding: 1.6rem 2.4rem;
    }
  }

  &__text {
    flex: 1 1 auto;
  }

  &__icon {
    @include sizeRatio(2.4rem);
    @include animate(fill);
    flex-shrink: 0;
  }
}
