.expand-container {
  &__panel {
    @include animate(max-height);
    position: relative;
    overflow: hidden;

    &::before {
      @include animate(height, opacity);
      content: "";
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 25%;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &--gray::before {
      background: $gray100;
      background: linear-gradient(0deg, rgba($gray100, 1) 5%, rgba($gray100, 0) 100%);
    }

    &--expanded,
    &--inactive {
      &::before {
        height: 0;
        opacity: 0;
      }
    }
  }
}
