.hero-card {
  &__media {
    display: block;
    position: relative;
    padding: 56.25% 0 0;
    margin: 0 0 2rem;
  }

  &__media-item {
    position: absolute;
    @include positionTopLeft();
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__description-panel {
    @include fs("body2");
    @include clearMarginY("&");
    max-height: 8.1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include media(">=3xl") {
      max-height: 9.5rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0 0 1.6rem;

    @include media(">=3xl") {
      margin: 0 0 2.4rem;
    }
  }

  &__title {
    flex: 1 1 auto;
    margin: 0;
  }

  &__nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__nav-btn {
    @extend %buttonReset;
    @include animate(transform, 0.15s);
    cursor: pointer;

    @include mediaHover() {
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
