.reviews-carousel {
  $this: &;

  &__swiper {
    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-slide {
      height: auto;
    }

    .review-card {
      height: 100%;
      padding: 2rem;
      border: 1px solid $gray200;
      border-right: none;

      @include media(">=3xl") {
        padding: 3rem 4rem;
      }
    }
  }

  &--alt {
    #{$this}__swiper {
      padding-right: 6rem;
      overflow: visible;

      @include media(">=md") {
        padding: 0;
        overflow: hidden;
      }

      .swiper-wrapper {
        transition-timing-function: unset;
      }

      .review-card {
        padding: 0;
        border: none;
      }
    }
  }
}
