.review-card {
  padding: 0 0 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  grid-template-areas:
    "name rating"
    "review review";

  &__title {
    grid-area: name;
    margin: 0;
    font-weight: 400;
  }

  &__rating {
    grid-area: rating;
  }

  &__text {
    grid-area: review;
    margin: 0;
  }

  &__text-panel {
    max-height: 14.2rem;
    @include clearMarginY("&");

    @include media(">=3xl") {
      max-height: 16.3rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
