.review-card {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  grid-template-areas:
    "name rating"
    "review review";

  &__title {
    grid-area: name;
    margin: 0;
    font-weight: 400;
  }

  &__rating {
    grid-area: rating;
  }

  &__text {
    grid-area: review;
    margin: 0;
  }
}
