.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid $gray200;

  &__item {
    border: none;
    box-shadow: 1px 1px 0 0 $gray200;
  }

  @include media(">=md") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(">=xl") {
    grid-template-columns: repeat(4, 1fr);
  }
}
