.video {
  position: relative;
  padding: 56.25% 0 0 0;

  &__item,
  &__poster {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  &__poster {
    object-fit: cover;
    cursor: pointer;
  }

  &__play {
    @include positionCenter();
    width: 5.4rem;
    height: 5.4rem;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    background-color: $black;
    background-image: url(../assets/images/play.svg);
    background-size: 1.6rem auto;
    background-position: calc(50% + 0.2rem) 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 0.6rem rgba($white, 0.5);
    @include animate(box-shadow width height, 0.2s);

    @include media(">=3xl") {
      background-size: 2rem auto;
      width: 7rem;
      height: 7rem;
    }

    &:hover {
      box-shadow: 0 0 0 1rem rgba($white, 0.75);
    }
  }

  &--4x3 {
    padding: 75% 0 0 0;
  }
}
