<section class="block page__block">
  <div class="container">
    <div class="form">
      <div class="form__row">
        <div class="fluid-label">
          <span class="fluid-label__title">Fluid label</span>
          <input type="text" class="input-text fluid-label__control" />
        </div>
      </div>
      <div class="form__row">
        <div class="fluid-label">
          <span class="fluid-label__title">Fluid label</span>
          <input type="text" class="input-text fluid-label__control" />
        </div>
      </div>
      <div class="form__row">
        <div class="fluid-label">
          <span class="fluid-label__title">Fluid label</span>
          <textarea class="input-textarea fluid-label__control"></textarea>
        </div>
      </div>
      <div class="form__row">
        <div class="fluid-label">
          <span class="fluid-label__title">Fluid label</span>
          <select class="select nice-select wide fluid-label__control">
            <option selected disabled>Оберіть локацію</option>
            <option value="2">Value 2</option>
            <option value="3">Value 3</option>
          </select>
        </div>
      </div>
      <div class="form__row">
        <label class="input-checkbox">
          <input class="input-checkbox__input" type="checkbox" />
          <span class="input-checkbox__toggle">
            <svg class="icon input-checkbox__icon">
              <use href="assets/icons.svg#check-sm" />
            </svg>
          </span>
          <span class="input-checkbox__title">
            Я погоджуюся на обробку моїх персональних даних на підставі Політики
            конфідентційності
          </span>
        </label>
      </div>
      <div class="form__row">
        <label class="input-radio">
          <input class="input-radio__input" type="radio" name="radio" />
          <span class="input-radio__toggle"> </span>
          <span class="input-radio__title">
            Я погоджуюся на обробку моїх персональних даних на підставі Політики
            конфідентційності
          </span>
        </label>
      </div>
      <div class="form__row">
        <label class="input-radio">
          <input class="input-radio__input" type="radio" name="radio" />
          <span class="input-radio__toggle"> </span>
          <span class="input-radio__title">
            Я погоджуюся на обробку моїх персональних даних на підставі Політики
            конфідентційності
          </span>
        </label>
      </div>
    </div>
  </div>
</section>
