<!--#region about section-->
<section class="hero-section hero-section--reverse hero-section--bt-0">
  <div class="hero-section__container">
    <div class="hero-section__content">
      <div class="hero-section__inner hero-section__inner--content-center">
        <ul class="crumbs hero-section__crumbs">
          <li class="crumbs__item">
            <a class="crumbs__endpoint crumbs__endpoint--link" href="#">Головна</a>
          </li>
          <li class="crumbs__item">
            <span class="crumbs__endpoint">Про клініку</span>
          </li>
        </ul>
        <h1>Про клініку</h1>
        <p>
          Стоматологічна клініка DentaDerm — це турботлива команда лікарів, сучасні
          методики лікування та комфортна атмосфера. З 2005 року ми даруємо красиву й
          здорову усмішку нашим пацієнтам. Виконуємо повний спектр стоматологічних послуг:
          від професійної гігієни до імплантування зубів. Нам під силу навіть найскладніші
          клінічні випадки!
        </p>
      </div>
    </div>
    <div class="hero-section__image">
      <img
        class="hero-section__image-item hero-section__image-item--cover"
        src="/assets/images/banners/lobby_room_lighten.jpg"
        alt="Жінка з орхидеями і сяючою посмішкою"
      />
    </div>
  </div>
</section>
<!--#endregion about section-->
