<section class="connected-carousel">
  <div class="connected-carousel__container container">
    <div class="connected-carousel__text-carousel">
      <div class="swiper connected-carousel__carousel-item">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="connected-carousel__content">
              <h3>
                Наша Клініка естетичної стоматології оснащена найсучаснішим обладнанням
              </h3>
              <p>
                Ефективність лікування забезпечує не лише професіоналізм наших
                стоматологів, а й сучасне стоматологічне обладнання. Клініка DentaDerm
                оснащена установками німецької компанії Sirona. Зокрема, власним
                високоточним томографом, який дозволяє розглянути кісткову тканину та
                зубний ряд верхньої й нижньої щелепи. Якісна діагностика й безпомилкове
                встановлення діагнозу — запорука вибору коректної стратегії лікування!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="connected-carousel__content">
              <h3>Комфорт наших пацієнтів — у пріоритеті.</h3>
              <p>
                Ми дбаємо про те, щоб навіть складні стоматологічні процедури не приносили
                Вам стресу та дискомфорту. А візит до стоматолога не асоціювався з чимось
                страшним, неприємним. Тож зручно вмощуйтеся в кріслі, надягайте VR-окуляри
                та дивіться улюблений фільм. Про здоров'я Ваших зубів за цей час подбають
                високопрофесійні стоматологи DentaDerm!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="connected-carousel__content">
              <h3>Ми не просто лікуємо зуби.</h3>
              <p>
                Ми обираємо методику лікування, яка буде оптимальною у Вашому випадку.
                Точне та грамотне лікування забезпечує комп'ютерна діагностика, яка
                дозволяє виявити найменші зміни, відслідкувати аномалії. Базуючись на
                результатах діагностики ми обираємо ефективний лікувальний план!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="connected-carousel__content">
              <h3>Для DentaDerm немає викликів, з якими ми не можемо впоратися.</h3>
              <p>
                Адже наша стоматологічна клініка поєднує 3 потужних напрямки: лікування,
                протезування, імплантологію. Ви можете отримати усі необхідні послуги для
                здоров'я зубів та ясен: від професійної гігієни до лікування каналів під
                мікроскопом!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="connected-carousel__content">
              <h3>Важко наважитися на візит до стоматолога?</h3>
              <p>
                Чудово Вас розуміємо. Але з нами здоров'я Ваших зубів буде в руках профі.
                Лікарі клініки DentaDerm подбають про те, лікування було комфортним,
                безболісним, результативним. Жодного стресу. Телефонуйте або залишайте
                заявку на зворотний зв'язок. Оберемо для Вас комфортну дату прийому!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="connected-carousel__content">
              <h3>Мрієте, щоб Ваші зуби були білосніжними? Ви потрапили за адресою!</h3>
              <p>
                Стоматологічна клініка DentaDerm пропонує сучасні методики відбілювання:
                ефективні та безпечні для емалі. А ще — ми надамо усі необхідні
                рекомендації, які дозволять зберегти результат на довше. Отримайте
                голлівудську посмішку усього за 30 хвилин у кріслі стоматолога!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="connected-carousel__nav pagination">
        <button class="pagination__btn pagination__btn--prev">
          <svg class="icon pagination__icon">
            <use href="/assets/icons.svg#arrow-left" />
          </svg>
        </button>
        <div class="pagination__list"></div>
        <button class="pagination__btn pagination__btn--next">
          <svg class="icon pagination__icon">
            <use href="/assets/icons.svg#arrow-right" />
          </svg>
        </button>
      </div>
    </div>
    <div class="connected-carousel__image-carousel">
      <div class="swiper connected-carousel__carousel-item">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture class="connected-carousel__image">
              <source
                type="image/webp"
                srcset="assets/images/about/modern_equipment.webp"
              />
              <img
                loading="lazy"
                class="connected-carousel__image-item"
                src="assets/images/about/modern_equipment.jpg"
                alt="img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="connected-carousel__image">
              <source
                type="image/webp"
                srcset="assets/images/about/attenders_comfort.webp"
              />
              <img
                loading="lazy"
                class="connected-carousel__image-item"
                src="assets/images/about/attenders_comfort.jpg"
                alt="img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="connected-carousel__image">
              <source
                type="image/webp"
                srcset="assets/images/about/not_just_treatment.webp"
              />
              <img
                loading="lazy"
                class="connected-carousel__image-item"
                src="assets/images/about/not_just_treatment.jpg"
                alt="img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="connected-carousel__image">
              <source
                type="image/webp"
                srcset="assets/images/about/challenge_everything.webp"
              />
              <img
                loading="lazy"
                class="connected-carousel__image-item"
                src="assets/images/about/challenge_everything.jpg"
                alt="img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="connected-carousel__image">
              <source
                type="image/webp"
                srcset="assets/images/about/hard_to_decide.webp"
              />
              <img
                loading="lazy"
                class="connected-carousel__image-item"
                src="assets/images/about/hard_to_decide.jpg"
                alt="img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="connected-carousel__image">
              <source
                type="image/webp"
                srcset="assets/images/about/dreaming_of_white_smile.webp"
              />
              <img
                loading="lazy"
                class="connected-carousel__image-item"
                src="assets/images/about/dreaming_of_white_smile.jpg"
                alt="img"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
