<div class="ad-banner">
  <div class="ad-banner__content">
    <h2 class="ad-banner__title">Дорослий Check-Up на Вишгородській та в Ірпені</h2>
    <div class="ad-banner__text">
      <p>
        Комплексна діагностика — найкращий метод профілактики. Адже дозволяє вчасно
        виявити будь-які порушення, дізнатися про стан кожного зуба, обрати ефективні
        методи лікування й уникнути ускладнень.
      </p>
      <p class="h3">від 2 600 грн</p>
      <button class="btn btn--square btn--lightBlue" data-modal-id="modal-appointment">
        Хочу на прийом
      </button>
    </div>
  </div>
  <picture class="ad-banner__img">
    <source type="image/webp" srcset="assets/images/ad-banner/ad_banner.webp" />
    <img
      loading="lazy"
      class="ad-banner__img-item"
      src="assets/images/ad-banner/ad_banner.jpg"
      alt="img"
    />
  </picture>
</div>
