<div class="adv-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <article class="advantage-card">
        <div class="advantage-card__img">
          <img
            src="/assets/images/about/modern_equipment_alt.jpg"
            alt="Сучасне стоматологічне обладнання"
            class="advantage-card__img-item"
          />
        </div>
        <div class="advantage-card__header">
          <h3 class="advantage-card__title">Сучасне обладнання</h3>
          <div class="advantage-card__nav">
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--prev"
              aria-label="Попередній слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-left" />
              </svg>
            </button>
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--next"
              aria-label="Наступний слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-right" />
              </svg>
            </button>
          </div>
        </div>
        <div class="advantage-card__description expand-container">
          <p>
            Ми впроваджуємо найновіші розробки в стоматологічній галузі, використовуємо
            сертифіковане в Україні устаткування. В арсеналі DentaDerm — обладнання
            німецької компанії Sirona. У нас є власний високоточний томограф, який
            допомагає розглянути кісткову тканину та зубний ряд верхньої й нижньої щелепи
            максимально точно.
          </p>
          <p class="expand-container__panel">
            Для забезпечення грамотного лікування, в нашій клініці є послуга комп’ютерної
            діагностики на сучасному корейському апараті VATECH PaX-i3D. Базуючись на
            результатах діагностики ми не лише складаємо план лікування, а й відстежуємо
            його ефективність, коригуємо за необхідністю.
          </p>
          <button class="btn btn--default expand-container__btn">Розгорнути</button>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="advantage-card">
        <div class="advantage-card__img">
          <img
            src="/assets/images/about/innovations.jpg"
            alt="Інноваційні методики"
            class="advantage-card__img-item"
          />
        </div>
        <div class="advantage-card__header">
          <h3 class="advantage-card__title">Інноваційні методики</h3>
          <div class="advantage-card__nav">
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--prev"
              aria-label="Попередній слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-left" />
              </svg>
            </button>
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--next"
              aria-label="Наступний слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-right" />
              </svg>
            </button>
          </div>
        </div>
        <div class="advantage-card__description expand-container">
          <p>
            Роки успішної лікарської практики та впровадження сучасних технологій
            лікування дозволяють нам гарантувати високу якість послуг. Фахівці клініки
            DentaDerm постійно навчаються, вдосконалюють свої навички.
          </p>
          <p class="expand-container__panel">
            Ми знаємо, що лише постійне підвищення кваліфікації допоможе нам завжди
            залишатися справжніми профі. Усі стоматологічні послуги — від професійного
            чищення зубів до пломбування та вирівнювання прикусу — виконуємо, дотримуючись
            європейських стандартів лікування. Насолоджуйтесь посмішкою, яка збирає масу
            компліментів!
          </p>
          <button class="btn btn--default expand-container__btn">Розгорнути</button>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="advantage-card">
        <div class="advantage-card__img">
          <img
            src="/assets/images/about/huge_experience.jpg"
            alt="Більше 17 років досвіду"
            class="advantage-card__img-item"
          />
        </div>
        <div class="advantage-card__header">
          <h3 class="advantage-card__title">Більше 17 років досвіду</h3>
          <div class="advantage-card__nav">
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--prev"
              aria-label="Попередній слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-left" />
              </svg>
            </button>
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--next"
              aria-label="Наступний слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-right" />
              </svg>
            </button>
          </div>
        </div>
        <div class="advantage-card__description expand-container">
          <p>
            Наша стоматологічна клініка працює з 2005 року. За цей час, понад 4000
            пацієнтів отримали з DentaDerm красиву та здорову посмішку. Ми розвиваємося та
            ростемо, здобуваємо новий досвід. Але незмінним залишається одне — любов до
            власної справи.
          </p>
          <p class="expand-container__panel">
            Фахівці нашої клініки знають, як допомогти кожному пацієнту. За час нашої
            лікарської практики ми працювали з клієнтами різного віку, долали складні
            клінічні випадки та бралися за справу там, де інші стоматологи не
            наважувалися. Для того, щоб кожен пацієнт міг стати трішки щасливішим!
          </p>
          <button class="btn btn--default expand-container__btn">Розгорнути</button>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="advantage-card">
        <div class="advantage-card__img">
          <img
            src="/assets/images/about/complex_aproach.jpg"
            alt="Комплексний підхід"
            class="advantage-card__img-item"
          />
        </div>
        <div class="advantage-card__header">
          <h3 class="advantage-card__title">Комплексний підхід</h3>
          <div class="advantage-card__nav">
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--prev"
              aria-label="Попередній слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-left" />
              </svg>
            </button>
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--next"
              aria-label="Наступний слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-right" />
              </svg>
            </button>
          </div>
        </div>
        <div class="advantage-card__description expand-container">
          <p>
            Забудьте про часи, коли робити рентген зубів або 3D-знімок потрібно було на
            іншому кінці міста. Стоматологічна клініка DentaDerm надає повний спектр
            послуг: від якісної діагностики на сучасному обладнання до відстеження
            результату й регулярних профілактичних оглядів.
          </p>
          <p class="expand-container__panel">
            Ми об’єднали в одну команду стоматологів-гігієністів, ортодонтів, хірургів.
            Щоб Ви могли впоратися з усіма проблемами ротової порожнини тут і зараз та
            навіть уві сні. Кожен випадок ведемо комплексно. Адже лише такий підхід —
            запорука високої якості лікування та отримання бажаного результату!
          </p>
          <button class="btn btn--default expand-container__btn">Розгорнути</button>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="advantage-card">
        <div class="advantage-card__img">
          <img
            src="/assets/images/about/european_standarts.jpg"
            alt="Європейські стандарти"
            class="advantage-card__img-item"
          />
        </div>
        <div class="advantage-card__header">
          <h3 class="advantage-card__title">Європейські стандарти</h3>
          <div class="advantage-card__nav">
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--prev"
              aria-label="Попередній слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-left" />
              </svg>
            </button>
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--next"
              aria-label="Наступний слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-right" />
              </svg>
            </button>
          </div>
        </div>
        <div class="advantage-card__description expand-container">
          <p>
            Ми орієнтуємося на досвід європейських колег, регулярно відвідуємо семінари та
            майстер-класи від провідних фахівців у стоматологічній галузі Європи.
            Використовуємо лише інноваційні технології, доказові протоколи лікування,
            сучасне сертифіковане обладнання.
          </p>
          <p class="expand-container__panel">
            Команда нашої клініки упевнена: забезпечити європейський рівень лікування
            зубів в Україні можливо. Переконайтеся у цьому!
          </p>
          <button class="btn btn--default expand-container__btn">Розгорнути</button>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="advantage-card">
        <div class="advantage-card__img">
          <img
            src="/assets/images/about/happy_clients.jpg"
            alt="Задоволені клієнти"
            class="advantage-card__img-item"
          />
        </div>
        <div class="advantage-card__header">
          <h3 class="advantage-card__title">Задоволені клієнти</h3>
          <div class="advantage-card__nav">
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--prev"
              aria-label="Попередній слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-left" />
              </svg>
            </button>
            <button
              class="advantage-card__nav-btn advantage-card__nav-btn--next"
              aria-label="Наступний слайд"
            >
              <svg class="icon advantage-card__nav-icon">
                <use href="/assets/icons.svg#arrow-right" />
              </svg>
            </button>
          </div>
        </div>
        <div class="advantage-card__description">
          <p>
            Ваші щасливі посмішки — найкращий результат нашої роботи. Приємно, коли з нами
            Ви долаєте страх відвідування стоматолога, й виробляєте корисну звичку
            звертатися до лікаря профілактично. Ми щиро радіємо, якщо пацієнти
            рекомендують нашу клініку своїм друзям та родичам, а також записують до
            стоматологів DentaDerm діток. Адже лікування маленьких пацієнтів можна
            довірити лише справжнім профі!
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
