<div class="card-carousel card-carousel--awards">
	<div class="card-carousel__swiper swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
			<div class="swiper-slide"><!--@import ./gallery-card.html--></div>
		</div>
	</div>
	<button class="card-carousel__nav card-carousel__nav--next">
		<svg class="icon card-carousel__nav-icon">
			<use href="/assets/icons.svg#arrow-right">
		</svg>
	</button>
	<button class="card-carousel__nav card-carousel__nav--prev">
		<svg class="icon card-carousel__nav-icon">
			<use href="/assets/icons.svg#arrow-left">
		</svg>
	</button>
</div>
