<div class="before-after">
  <div class="before-after__heading">
    <span>До</span>
    <span>Після</span>
  </div>
  <picture>
    <source type="image/webp" srcset="assets/images/single-service/after.webp" />
    <img
      class="before-after__after-img"
      src="assets/images/single-service/after.jpg"
      alt="До лікування"
      loading="lazy"
    />
  </picture>
  <div class="before-after__before-container" style="width: 50%">
    <picture>
      <source type="image/webp" srcset="assets/images/single-service/before.webp" />
      <img
        class="before-after__before-img"
        src="assets/images/single-service/before.jpg"
        alt="До лікування"
        loading="lazy"
      />
    </picture>
  </div>
  <input
    type="range"
    min="0"
    max="100"
    value="50"
    aria-label="Percentage of before photo shown"
    class="before-after__slider"
  />
  <div class="before-after__slider-button" aria-hidden="true">
    <svg class="before-after__slider-button-icon">
      <use href="/assets/icons.svg#drag-x" />
      />
    </svg>
  </div>
</div>
