<article class="blog-card">
  <a href="#" class="blog-card__img-link">
    <picture class="blog-card__img">
      <source type="image/webp" srcset="/assets/images/blog/article_img_thumb.webp" />
      <img
        loading="lazy"
        class="blog-card__img-item"
        src="/assets/images/blog/article_img_thumb.jpg"
        alt="img"
      />
    </picture>
  </a>
  <time class="blog-card__date" datetime="2024-09-14">14.09.2024</time>
  <h3 class="blog-card__title">
    Мезіальний прикус — причини розвитку, ознаки та лікування
  </h3>
  <a href="#" class="btn btn--default blog-card__btn">Читати</a>
</article>
