<div class="care-center">
  <div class="care-center__heading">
    <h2 class="care-center__title">Центр турботи завжди на зв’язку</h2>
    <p class="care-center__desc">Ми є в зручних для вас мессенджерах:</p>
    <button class="btn btn--white-alt btn--square" data-modal-id="modal-appointment">
      Отримати консультацію
    </button>
  </div>
  <ul class="care-center__list">
    <li class="care-center__item">
      <a class="care-center__link" href="#" target="_blank">
        <svg class="icon care-center__icon">
          <use href="/assets/icons.svg#telegram-filled" />
        </svg>
        <span>Telegram</span>
      </a>
    </li>
    <li class="care-center__item">
      <a class="care-center__link" href="#" target="_blank">
        <svg class="icon care-center__icon">
          <use href="/assets/icons.svg#viber-filled" />
        </svg>
        <span>Viber</span>
      </a>
    </li>
    <li class="care-center__item">
      <a class="care-center__link" href="#" target="_blank">
        <svg class="icon care-center__icon">
          <use href="/assets/icons.svg#instagram-filled" />
        </svg>
        <span>Instagram</span>
      </a>
    </li>
    <li class="care-center__item">
      <a class="care-center__link" href="#" target="_blank">
        <svg class="icon care-center__icon">
          <use href="/assets/icons.svg#facebook-filled" />
        </svg>
        <span>Facebook</span>
      </a>
    </li>
  </ul>
</div>
