<div class="ceo-text">
  <div class="ceo-text__heading">
    <h1>
      Стоматологія в Києві - подбайте про красиву та здорову усмішку в клініці DentaDerm
    </h1>
  </div>
  <div class="ceo-text__content">
    <p>
      Мрієте, щоб зуби були міцними, а усмішка — білосніжною? Настав час завітати до
      стоматолога. Стоматологічна клініка DentaDerm в Києві — це турботливі лікарі,
      сучасні методики лікування та комфортна атмосфера. Лікуємо без стресу, надаємо
      рекомендації з домашнього догляду за ротовою порожниною, і дбаємо про те, щоб
      регулярні профілактичні огляди в стоматолога стали вашою хорошою традицією!
    </p>
    <h2>Які послуги надає стоматологічна клініка DentaDerm?</h2>
    <p>
      Наша стоматологічна клініка в Києві поєднує 3 потужних напрямки: лікування,
      протезування, імплантологію, встановлення вінірів. Саме тому, в комфортних умовах
      кабінету ви можете отримати усі необхідні послуги для здоров’я зубів та ясен:
    </p>
    <ul>
      <li>первинна консультація стоматолога;</li>
      <li>дитяча стоматологія;</li>
      <li>пломбування зубів;</li>
      <li>протезування;</li>
      <li>ортодонтичне лікування;</li>
      <li>імплантація зубів;</li>
      <li>лікування ясен;</li>
      <li>гігієнічна чистка;</li>
      <li>відбілювання зубів;</li>
      <li>лікування каналів під мікроскопом.</li>
    </ul>
    <p>
      Для того, щоб лікування було точним та грамотним, наша стоматологічна клініка
      виконує комп’ютерну діагностику на сучасному корейському апараті VATECH PaX-i3D.
      Саме базуючись на результатах діагностики обираємо перелік стоматологічних послуг,
      ефективний лікувальний план, виявляємо аномалії в розвитку або положенні зубів. Ця
      процедура є безпечною та швидкою.
    </p>
    <h2>Команда стоматологічної клініки DentaDerm</h2>
    <p>
      Наші стоматологи — фахівці з великим досвідом роботи, які регулярно підвищують
      власну кваліфікацію. В DentaDerm працюють лікарі широкого профілю:
      стоматологи-терапевти, ортодонти, хірурги-імплантологи, ортопеди, спеціалісти з
      естетичної стоматології. Кожен наш лікар — не лише вправний фахівець-стоматолог, а й
      певною мірою психолог. Ми знаємо, як знайти підхід до кожного пацієнта, допомогти
      впоратися зі страхом перед стоматологічним кріслом, налаштуватися на видалення зуба
      чи інші неприємні, на перший погляд, процедури.
    </p>
    <p>
      Лікуємо дорослих та діток. Адже знаємо, як працювати з маленькими пацієнтами.
      Вилікуємо карієс на молочних зубках, зробимо гігієнічну чистку, проконсультуємо щодо
      профілактики порожнини рота. Допоможемо виробити культуру правильного догляду за
      ротовою порожниною з дитинства. Малюки у кріслі наших стоматологів зовсім не
      хвилюються, адже ми використовуємо лікування зубів у сні в Києві, а мами, які їх
      привели до лікаря — спокійні та щасливі.
    </p>
    <p>
      Ми дбаємо про те, щоб лікування зубів було не лише ефективним, а й проходило без
      стресу. Наша клініка має зручну локацію. Сюди комфортно добиратися пацієнтам, які
      мешкають: на Вишгородській, на Арсенальній, Олімпійській, Кловській, Виноградарі,
      Академмістечку, Куренівці, Мінському Масиві, Печерську та в Бучі. Адже ми впевнені:
      візит до стоматолога не має викликати неприємних асоціацій ні в дорослих, ні в
      дітей. Регулярні візити до лікаря допомагають профілактувати стоматологічні
      захворювання, виявити на ранніх стадіях карієс, вчасно пролікувати хворий зуб. Два
      рази на рік — саме такою є оптимальна частота відвідування стоматологічного
      кабінету.
    </p>
    <h2>Стоматологічна клініка DentaDerm — стоматологія в Києві, якій довіряють</h2>
    <p>
      Ми знаємо, що наважитися на відвідування стоматолога буває важко. Тому багато людей
      пропускають профілактичні огляди та приходять до лікаря лише тоді, коли сильно
      розболівся зуб. Та лікарі клініки DentaDerm в Києві подбають про те, щоб візит до
      фахівця був безболісним, комфортним та результативним. Працюємо з 2005 року. За цей
      час, нашими клієнтами стали понад 4000 пацієнтів з Києва та області.
    </p>
    <p>
      Професійна чистка зубів, відбілювання, пломбування та боротьба з карієсом — всі ці
      послуги виконуємо професійно. А наші клієнти можуть насолоджуватися білосніжною
      посмішкою, яка збирає масу компліментів.
    </p>
    <p><b>Сучасна стоматологія в Києві — це:</b></p>
    <ul>
      <li>
        Фахівці-стоматологи з великим досвідом — вони постійно навчаються та вдосконалюють
        свою майстерність. Тому виконують всі процедури ефективно та без болю.
      </li>
      <li>
        Обладнання, сертифіковане в Україні — використовуємо стоматологічні інструменти
        для гігієнічної чистки зубів, пломбування, протезування останнього покоління.
      </li>
      <li>
        Комфортна атмосфера та затишок — з нами ви переконаєтесь, що лікувати зуби можна
        без страху та стресу.
      </li>
    </ul>
    <p>
      Бажаєте записатися на прийом? Телефонуйте або залишайте заявку в формі зворотного
      зв’язку.
    </p>
  </div>
</div>
