<section
  class="hero-section hero-section--gray hero-section--reverse hero-section--bb-0 hero-section--bt-0"
>
  <div class="hero-section__container">
    <div class="hero-section__content hero-section__content--bg-gray">
      <div class="hero-section__inner hero-section__inner--content-center">
        <h2>
          Гуманітарний напрямок.<br />
          Поїздка у Херсон
        </h2>
        <p>
          Разом із командою, пацієнтами, колегами з інших клінік сформували допомогу на
          Херсон у вигляді одягу, готових продуктових наборів, сухого корму для тварин,
          засобів гігієни (зубні щітки, памперси, пелюшки).
        </p>
        <p>
          Нижче фотоспогади тих днів. Від формування та сортування допомоги до поїздки,
          знайомства із директором центру соціально-психологічної реабілітації дітей,
          візиту до притулку домашнього типу. З собою прихопили трьох херсонських котів,
          які відправились у Київ до головного бухгалтера, асистента та пацієнтки нашої
          клініки.
        </p>
        <div class="hero-section__nav hero-section__nav--w-auto pagination">
          <button class="pagination__btn pagination__btn--prev">
            <svg class="icon pagination__icon">
              <use href="/assets/icons.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="pagination__btn pagination__btn--next">
            <svg class="icon pagination__icon">
              <use href="/assets/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hero-section__image hero-section__image--no-bg">
      <div class="charity-slider hero-section__charity-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="charity-gallery charity-gallery--layout-2">
              <a
                href="assets/images/charity/humanitarian/01-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="army"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/01-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
              <a
                href="assets/images/charity/humanitarian/02-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="army"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/02-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
              <a
                href="assets/images/charity/humanitarian/03-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="army"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/03-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
              <a
                href="assets/images/charity/humanitarian/014-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="army"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/04-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="charity-gallery charity-gallery--layout-3">
              <a
                href="assets/images/charity/humanitarian/05-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="army"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/05-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
              <a
                href="assets/images/charity/humanitarian/06-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="army"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/06-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
              <a
                href="assets/images/charity/humanitarian/07-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="army"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/07-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="charity-gallery charity-gallery--layout-1">
              <a
                href="assets/images/charity/humanitarian/08-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="sport"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/08-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
              <a
                href="assets/images/charity/humanitarian/09-humanitarian-support.jpg"
                class="charity-gallery__link"
                data-fancybox="sport"
              >
                <img
                  loading="lazy"
                  class="charity-gallery__thumb"
                  src="assets/images/charity/humanitarian/09-humanitarian-support.jpg"
                  alt="Підтримка гуманітарного напрямку"
                />
                <span class="charity-gallery__label">Червень 2023</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
