<!--#region about section-->
<section class="hero-section hero-section--h-full hero-section--bt-0 hero-section--bb-0">
  <div class="hero-section__container">
    <div class="hero-section__content">
      <div class="hero-section__inner hero-section__inner--content-center">
        <ul class="crumbs hero-section__crumbs">
          <li class="crumbs__item">
            <a class="crumbs__endpoint crumbs__endpoint--link" href="#">Головна</a>
          </li>
          <li class="crumbs__item">
            <span class="crumbs__endpoint">Контакти</span>
          </li>
        </ul>
        <h1>Контакти</h1>

        <!--@import ./location-tabs.html-->
      </div>
    </div>
    <div class="hero-section__image">
      <div class="hero-section__map" id="map"></div>
    </div>
  </div>
</section>
<!--#endregion about section-->
