<!--#region contacts section-->
<section class="contacts-section">
  <div class="hero-section hero-section--h-full hero-section--bt-0 hero-section--bb-0">
    <div class="hero-section__container">
      <div class="hero-section__content">
        <div
          class="hero-section__inner hero-section__inner--contacts hero-section__inner--content-center"
        >
          <ul class="crumbs hero-section__crumbs">
            <li class="crumbs__item">
              <a class="crumbs__endpoint crumbs__endpoint--link" href="#">Головна</a>
            </li>
            <li class="crumbs__item">
              <span class="crumbs__endpoint">Контакти</span>
            </li>
          </ul>
          <h1>Контакти</h1>

          <div class="location-badges contacts-section__location-badges">
            <div class="location-badges__item">
              <svg class="location-badges__icon">
                <use href="/assets/icons.svg#kyiv" />
              </svg>
              <h3 class="location-badges__title location-badges__title--light">
                <span>DENTADERM Київ</span>
              </h3>
              <div class="location-badges__locations">
                <div class="location-badges__locations-inner">
                  <a href="#">Київ, вул. Вишгородська, 56/2</a>
                  <span>Пн-Сб: 9.00 - 20.00</span>
                  <a href="tel:+380676250862">(067) 625-08-62</a>
                  <a class="location-badges__phone" href="mailto:denta.d.kyiv@gmail.com">
                    denta.d.kyiv@gmail.com
                  </a>
                </div>
                <div class="location-badges__locations-inner">
                  <a href="#"> Київ, вул. Кловський узвіз, 7а </a>
                  <span>Пн-Сб: 9.00 - 20.00</span>
                  <a href="tel:+380987503030">(098) 750-30-30</a>
                  <a class="location-badges__phone" href="mailto:denta.d.kyiv@gmail.com">
                    pechersk@dentaderm.ua
                  </a>
                </div>
              </div>
            </div>
            <div class="location-badges__item">
              <svg class="location-badges__icon">
                <use href="/assets/icons.svg#irpin" />
              </svg>
              <h3 class="location-badges__title location-badges__title--light">
                <span>DENTADERM Ірпінь</span>
              </h3>
              <div class="location-badges__locations">
                <div class="location-badges__locations-inner">
                  <a href="#">Ірпінь, вул. Соборна, 107</a>
                  <span>Пн-Сб: 9.00 - 20.00</span>
                  <a href="tel:+380631414491">(063) 141-44-91</a>
                  <a class="location-badges__phone" href="mailto:dentad.irpin@gmail.com">
                    dentad.irpin@gmail.com
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="contacts-section__controls">
            <button class="btn btn--square" data-modal-id="modal-appointment">
              Отримати консультацію
            </button>
            <div class="socials socials--lg contacts-section__socials">
              <ul class="socials__list">
                <li class="socials__item">
                  <a
                    class="socials__link"
                    target="_blank"
                    href="https://www.instagram.com/denta_derm/"
                  >
                    <svg class="icon socials__icon">
                      <use href="/assets/icons.svg#instagram" />
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    class="socials__link"
                    target="_blank"
                    href="https://www.facebook.com/dentaderm"
                  >
                    <svg class="icon socials__icon">
                      <use href="/assets/icons.svg#facebook" />
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    class="socials__link"
                    target="_blank"
                    href="https://tinyurl.com/27phvmbk"
                  >
                    <svg class="icon socials__icon">
                      <use href="/assets/icons.svg#viber" />
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a
                    class="socials__link"
                    target="_blank"
                    href="https://t.me/DentaDerm_Kyiv"
                  >
                    <svg class="icon socials__icon">
                      <use href="/assets/icons.svg#telegram" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-section__image">
        <div class="hero-section__map" id="map"></div>
      </div>
    </div>
  </div>
</section>
<!--#endregion contacts section-->
