<div class="article-recommendations wow fadeInUp">
  <div class="row">
    <div class="col-12 col-lg-5">
      <picture class="article-recommendations__img">
        <source
          type="image/webp"
          srcset="assets/images/service/doctor_with_notebook.webp"
        />
        <img
          loading="lazy"
          class="article-recommendations__img-item"
          src="assets/images/service/doctor_with_notebook.jpg"
          alt="img"
        />
      </picture>
    </div>
    <div class="col-12 col-lg-7">
      <div class="article-recommendations__content">
        <p>
          Видалення зубів, лікування хвороб пародонту, імплантація, підсадка кісткової
          тканини — всі ці та багато інших завдань виконує хірургічна стоматологія. Це
          напрям медицини, який потребує неабиякого професіоналізму від лікаря.
          Звертаючись у клініку DentaDerm, ви можете бути впевнені, що отримаєте
          стоматологічні послуги високого рівня. Кваліфіковані стоматологи-хірурги нашої 
          клініки використовують у своїй роботі принцип трьох «Б»:
        </p>
        <ul>
          <li>
            безболісно – сучасні анестетичнi засоби гарантують мінімальний рівень
            дискомфортних відчуттів пацієнта;
          </li>
          <li>
            швидко – спеціальне професійне обладнання дозволяє оптимізувати часові рамки
            проведення стоматологічної операції;
          </li>
          <li>
            без ускладнень – високий рівень підготовки лікарів, їх великий практичний
            досвід, застосування інноваційних технологій забезпечують якість надання
            хірургічних послуг.
          </li>
        </ul>
        <br />
        <button class="btn btn--lightBlue btn--square" data-modal-id="modal-appointment">
          Отримати консультацію
        </button>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
