<!-- #region discount card -->
<article class="discount-card discount-list__card">
  <a href="#" class="discount-card__img-link">
    <picture class="discount-card__img">
      <source type="image/webp" srcset="assets/images/discount/discount_thumb_1.webp" />
      <img
        class="discount-card__img-item"
        src="assets/images/discount/discount_thumb_1.jpg"
        alt="img"
      />
    </picture>
  </a>
  <div class="discount-card__content">
    <h3 class="discount-card__title">Dental Check-Up за адресою Кловський узвіз, 7а</h3>

    <div class="discount-info discount-card__discount-info">
      <div class="discount-info__percentage">-25%</div>
      <div class="discount-info__price">
        <div class="discount-info__price-item discount-info__price-item">3 000 грн</div>
        <div class="discount-info__price-item discount-info__price-item--old">4 025</div>
      </div>
    </div>

    <div class="discount-card__excerpt">
      <p>
        Комплексна діагностика — найкращий метод профілактики. Адже дозволяє вчасно
        виявити будь-які порушення, дізнатися про стан кожного зуба, обрати ефективні
        методи лікування й уникнути ускладнень.
      </p>
    </div>
    <a href="#" class="btn btn--square">Детальніше</a>
  </div>
</article>
<!-- #endregion discount card -->
