<ul class="downloads-list block__downloads-list">
  <li class="downloads-list__item">
    <a
      class="downloads-list__link"
      href="/assets/downloads/licenses/liczenziya-na-medychnu-praktyku-dentaderm.pdf"
      target="_blank"
    >
      <span class="downloads-list__text">Ліцензія на медичну практику</span>
      <svg class="icon downloads-list__icon">
        <use href="/assets/icons.svg#file-document" />
      </svg>
    </a>
  </li>
  <li class="downloads-list__item">
    <a
      class="downloads-list__link"
      href="/assets/downloads/licenses/sanitarnyj-pasport-na-pravo-ekspluatacziyi-rentgenivskogo-aparatu.pdf"
      target="_blank"
    >
      <span class="downloads-list__text">
        Санітарний паспорт на право експлуатації рентгенівського апарату
      </span>
      <svg class="icon downloads-list__icon">
        <use href="/assets/icons.svg#file-document" />
      </svg>
    </a>
  </li>
</ul>
