<!--#region price accordion -->
<ul class="accordion faq block__faq wow fadeInUp">
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Чи обовʼязкова функціональна діагностика, якщо я хочу брекети?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Так. Найголовніше — фізіологічно-здорова функція зубів. Лікування без проведення
          функціональної діагностики — верхівка айсберга, адже зуби напряму повʼязані із
          суглобами.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Чи можу я самостійно обрати брекет-систему, яку я хочу?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Ми враховуємо всі побажання пацієнтів, але фінальне рішення завжди приймає лікар
          на основі даних.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Чи можу я побачити результат до початку ортодонтичного лікування?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Саме так працює цифрова брекет-система Insignia. Програмне забезпечення
          враховуює дані проведеної діагностики, задані параметри, особливості обличчя та
          наводить кінцевий результат до того, як лікар стоматолог-ортодонт фіксує брекет
          систему.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Чи потрібно видаляти “зуби мудрості” перед фіксацією брекет-системи?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Якщо зуби лежать у кістці або прорізалися частково — вони можуть змістити зубний
          ряд, через те носіння брекет-системи буде неефективним.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span
        >Що робити, якщо я пройшла ортодонтичне лікування, але відчуваю дискомфорт в
        суглобах?</span
      >
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Швидше за все, ортодонтичний план лікування був складений не на основі чітких
          цифрових параметрів зубощелепної системи, через що відчувається дискомфорт у
          суглобах.
        </p>
        <p>
          Функціональна діагностика допоможе віднайти те фізіологічно-правильне положення
          щелепи і як наслідок — полегшить надмірне навантаження на
          скронево-нижньощелепний суглоб.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Як довго треба носити брекети?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Брекет-системи бувають різними, тому вони відрізняються своєю ефективністю і
          відповідно терміном носіння. У середньому 1,5-2 роки.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Як часто треба приходити після фіксації брекетів?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Корекції та заміни дуг раз на місяць/раз на два місяці у залежності від обраної
          брекет-системи. Професійна гігієна обовʼязкова кожні 3-6 місяців.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Якщо я хочу малопомітну брекет-систему, якій надати перевагу?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Радимо розглянути самолігуючі керамічні, які практично не помітні завдяки
          прозорій структурі.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Які є обмеження у харчуванні після фіксації брекет-системи?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Перший тиждень рекомендуємо вживати мʼяку їжу (йогурт, сир, каші, пюре,
          перекручене мʼясо, рибу).
        </p>
        <p>
          Надлишок вуглеводів (солодощі, газована вода, здоба, печиво) підвищують ризик
          розвитку карієсу. Радимо знизити прийом вуглеводів у раціоні приділити особливу
          увагу гігієні ротової порожнини.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Як доглядати за брекетами?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Після кожного прийому чистити зуби та ортодонтичний апарат зубною щіткою +
          фторовмісною пастою. Перед сном вичищати важкодоступні місця йоржиком (між
          зубами і брекетами).
        </p>
        <p>
          Використовувати домашній іригатор (бажано після кожного прийому їжі). Кожні 3
          місяці обовʼязкова професійна профілактична гігієна у лікаря-стоматолога.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Що робити, якщо відклеївся брекет?</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Його необхідно зафіксувати у лікаря-ортодонта якомога швидше. Брекети можуть
          відклеюватись через надмірні навантаження на ортодонтичний апарат — уникайте їх.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
</ul>
<!--#endregion price accordion -->
