<div class="hero-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/diagnosis_photo_1.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/diagnosis_photo_1.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Компʼютерна томографія суглобів</h3>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/diagnosis_photo_2.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/diagnosis_photo_2.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Телерентгенограма (ТРГ знімок)</h3>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/diagnosis_photo_3.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/diagnosis_photo_3.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Артикулятор Gamma Dental</h3>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/diagnosis_photo_4.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/diagnosis_photo_4.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Кондилогаф Gamma Dental</h3>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/diagnosis_photo_5.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/diagnosis_photo_5.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Інтраоральний сканер</h3>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/diagnosis_photo_6.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/diagnosis_photo_6.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Магніто-резонасний томограф голови (МРТ)</h3>
        </div>
      </article>
    </div>
  </div>
</div>
