<section class="hero-section">
  <div class="hero-section__container">
    <div class="hero-section__content">
      <div class="hero-section__inner hero-section__inner--content-center">
        <h2>
          Лікуємо причини дискомфорту у скронево-нижньощелепному суглобі або при змиканні
          зубів
        </h2>
        <p>
          Людина — це досконала система, в якій кожен елемент впливає на роботу іншого.
          Так працює і зубощелепна система, де кожен зуб, бугри на зубах, навіть нахил
          бугрів на зубах — відповідають за певну функцію: кусання, жування, підтримку
          щелепи у правильному положенні.
        </p>
        <p>
          Відповідно відсутність зубів, неправильно поставлена пломба чи коронка, невірно
          сплановане ортодонтичне лікування створюють дисфункцію зубощелепної системи, що
          впливає на інші системи організму. Через це можуть виникати болі в голові,
          клацання в щелепі, сколіоз, бруксизм тощо. Ми не придумуємо велосипед: ми
          пройшли навчання в школі VieSID® та застосовуємо на практиці знання та досвід
          професора Рудольфа Славічека у щоденній роботі.
        </p>
        <p>
          Все ортодонтичне чи ортопедичне лікування починається з функціональної
          діагностики, яка визначає фізіологічно-правильні параметри розміщення щелепи —
          норму та відхилення.
        </p>
      </div>
    </div>
    <div class="hero-section__image">
      <img
        class="hero-section__image-item"
        src="/assets/images/service/diagnosis_before_after.jpg"
        alt="Порівняння результатів лікування до і після"
      />
    </div>
  </div>
</section>
