<section class="hero-section">
  <div class="hero-section__container">
    <div class="hero-section__content">
      <div class="hero-section__inner hero-section__inner--content-center">
        <h2>Змінити систему можливо лише з надсистеми</h2>
        <p>
          Лікарі нашої клініки пройшли навчання у Віденській школі міждисциплінарної
          стоматології VieSID® у співпраці з Віденським медичним університетом. VieSID®
          впроваджує один з найкращих і найскладніших концептів лікування у світі.
        </p>
        <p>
          <b>Щасливі лікувати своїх пацієнтів методиками, засвоєними у VieSID®.</b>
        </p>
        <p>
          Зовсім скоро функціональна діагностика займатиме обовʼязкове місце у кожному
          протоколі лікування. А бути одними з першовідкривачів — це завжди приємно.
        </p>
      </div>
    </div>
    <picture class="hero-section__image hero-section__image--no-bg">
      <source
        type="image/webp"
        srcset="assets/images/service/diagnosis_VieSD_school.webp"
      />
      <img
        loading="lazy"
        class="hero-section__image-item"
        src="assets/images/service/diagnosis_VieSD_school.jpg"
        alt="img"
      />
    </picture>
  </div>
</section>
