<!-- #region steps -->
<ul class="steps">
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">1</div>
    </div>
    <div class="steps__media">
      <div class="steps__media-inner">
        <img
          class="steps__media-item steps__media-item--image"
          src="/assets/images/service/ortho_diagnosis_step.jpg"
          alt="Базова функціональна діагностика"
        />
      </div>
    </div>
    <h3 class="steps__title">Мала функціональна діагностика</h3>
    <div class="steps__description">
      <ul>
        <li>заповнюємо форму загального стану пацієнта</li>
        <li>проводимо фотодіагностику (знімки зубів, посмішки, обличчя та постави)</li>
        <li>проводимо пальпацію тонусу м’язів та больових відчуттів у суглобах</li>
        <li>знімаємо відбитки зубів для виготовлення гіпсових моделей</li>
      </ul>
    </div>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">2</div>
    </div>
    <div class="steps__media">
      <div class="steps__media-inner video" data-video-id="eth3C4SQH3g">
        <div class="video__play"></div>
      </div>
    </div>
    <h3 class="steps__title">Базова функціональна діагностика</h3>
    <div class="steps__description">
      <ul>
        <li>
          проводимо оклюзіограму для визначення кількості і якості контактів між зубами
        </li>
        <li>
          робимо телерентгенограму (рентген бокової проєкції черепа) та її розшифровку
        </li>
        <li>
          загіпсовуємо моделі зубів пацієнта в артикулятор, що відтворюватиме його рухи
        </li>
        <li>
          визначаємо розміщення верхньої й нижньої щелепи відносно основи черепа та
          вираховуємо норму й відхилення від норми
        </li>
      </ul>
    </div>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">3</div>
    </div>
    <div class="steps__media">
      <div class="steps__media-inner video" data-video-id="cG18LsT_6Ug">
        <div class="video__play"></div>
      </div>
    </div>
    <h3 class="steps__title">Розширена функціональна діагностика</h3>
    <div class="steps__description">
      <p><i>*проведення кондилографії</i></p>
      <p>
        Отримані дані демонструють динаміку індивідуальних рухів нижньої щелепи та
        анатомічні особливості будови жувальної системи пацієнта, на основі чого можна
        планувати подальше ортопедичне чи ортодонтичне лікування
      </p>
    </div>
  </li>
</ul>
<!-- #endregion steps -->
