<div class="gallery-card">
  <a
    href="/assets/images/awards/certificate_1.jpg"
    data-fancybox="awards"
    data-caption="Cертифікат Saving teeh perio concept"
    class="gallery-card__link"
  >
    <svg class="icon gallery-card__icon">
      <use href="/assets/icons.svg#image" />
    </svg>
    <div class="gallery-card__title">
      Cертифікат Saving teeh perio concept, Стороженко Олександр Володимирович
    </div>
    <img
      src="/assets/images/awards/certificate_1.jpg"
      alt="Cертифікат Saving teeh perio concept"
      class="gallery-card__thumb"
    />
  </a>
</div>
