<div class="service-grid-alt">
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#teeth-research" />
      </svg>
      <span class="service-tile-alt__title">Діагностика та консультація</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#hygiene" />
      </svg>
      <span class="service-tile-alt__title">Профілактика та гігієна</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#teeth-treatment" />
      </svg>
      <span class="service-tile-alt__title">Лікування зубів та каналів</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#gnathology" />
      </svg>
      <span class="service-tile-alt__title">Гнатологія</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#aesthetic-dentistry" />
      </svg>
      <span class="service-tile-alt__title">Естетична стоматологія</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#teeth-brackets" />
      </svg>
      <span class="service-tile-alt__title">Вирівнювання прикусу (Ортодонтія)</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#teeth-prosthesis" />
      </svg>
      <span class="service-tile-alt__title">Ортопедичне лікування</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#teeth-surgery" />
      </svg>
      <span class="service-tile-alt__title">Хірургічна стоматологія</span>
    </div>
  </a>
  <a href="#" class="service-tile-alt service-grid-alt__item">
    <div class="service-tile-alt__inner">
      <svg class="icon service-tile-alt__icon">
        <use href="/assets/icons.svg#periodontal-treatment" />
      </svg>
      <span class="service-tile-alt__title">Пародонтологічне лікування</span>
    </div>
  </a>
</div>
