<!--#region about section-->
<section class="hero-section hero-section--reverse hero-section--bt-0 hero-section--bb-0">
  <div class="hero-section__container hero-section__container--no-min-height">
    <div class="hero-section__content">
      <div class="hero-section__inner hero-section__inner--content-center">
        <h2>DENTADERM — це мережа сучасних клінік в Києві та Ірпені</h2>
        <p>
          Стоматологічна клініка DENTADERM — це турботлива команда лікарів, сучасні
          методики лікування та комфортна атмосфера. З 2005 року ми даруємо красиву й
          здорову усмішку нашим пацієнтам. Виконуємо повний спектр стоматологічних послуг:
          від професійної гігієни до імплантування зубів. Нам під силу навіть найскладніші
          клінічні випадки!
        </p>
        <p>
          DENTADERM — це унікальна діагностика та пошук причин виникнення дисфункції
          скронево-нижньощелепного суглобу за методикою Рудольфа Славічека при допомозі
          сучасного обладнання (КТ, ОПТГ, 3D сканер, кондилограф, артикулятор, варіатор та
          ін).
        </p>
      </div>
    </div>
    <picture class="hero-section__image hero-section__image--no-bg">
      <source type="image/webp" srcset="assets/images/banners/about_collage.webp" />
      <img
        loading="lazy"
        class="hero-section__image-item"
        src="assets/images/banners/about_collage.jpg"
        alt="img"
      />
    </picture>
  </div>
</section>
<!--#endregion about section-->
