<div class="approaches block__approaches">
  <header class="approaches__header">
    <h2 class="approaches__title">
      DENTADERM — це комплексний підхід до здоров'я пацієнта!
    </h2>
    <p class="approaches__subtitle">
      <b>Наша система лікування складається з таких обов’язкових етапів:</b>
    </p>
  </header>

  <ul class="approaches__list logoBadge-list">
    <li class="logoBadge-list__item">
      <div class="logoBadge">
        <div class="logoBadge__top">
          <svg class="logoBadge__icon">
            <use href="/assets/icons.svg#teeth-scan" />
          </svg>
          <svg class="logoBadge__bg-icon">
            <use href="/assets/icons.svg#logo-blank" />
          </svg>
        </div>
        <p class="logoBadge__label">Check-up ротової порожнини</p>
      </div>
    </li>
    <li class="logoBadge-list__item">
      <div class="logoBadge">
        <div class="logoBadge__top">
          <svg class="logoBadge__icon">
            <use href="/assets/icons.svg#calculator" />
          </svg>
          <svg class="logoBadge__bg-icon">
            <use href="/assets/icons.svg#logo-blank" />
          </svg>
        </div>
        <p class="logoBadge__label">Cкладання плану й бюджету</p>
      </div>
    </li>
    <li class="logoBadge-list__item">
      <div class="logoBadge">
        <div class="logoBadge__top">
          <svg class="logoBadge__icon">
            <use href="/assets/icons.svg#doctor-with-mask" />
          </svg>
          <svg class="logoBadge__bg-icon">
            <use href="/assets/icons.svg#logo-blank" />
          </svg>
        </div>
        <p class="logoBadge__label">Консультація головного лікаря</p>
      </div>
    </li>
    <li class="logoBadge-list__item">
      <div class="logoBadge">
        <div class="logoBadge__top">
          <svg class="logoBadge__icon">
            <use href="/assets/icons.svg#dental-chair" />
          </svg>
          <svg class="logoBadge__bg-icon">
            <use href="/assets/icons.svg#logo-blank" />
          </svg>
        </div>
        <p class="logoBadge__label">Початок самого лікування</p>
      </div>
    </li>
    <li class="logoBadge-list__item">
      <div class="logoBadge">
        <div class="logoBadge__top">
          <svg class="logoBadge__icon">
            <use href="/assets/icons.svg#glowing-face" />
          </svg>
          <svg class="logoBadge__bg-icon">
            <use href="/assets/icons.svg#logo-blank" />
          </svg>
        </div>
        <p class="logoBadge__label">...i Ваша посмішка знову сяє!</p>
      </div>
    </li>
  </ul>

  <div class="approaches__description">
    <p>
      Протягом усього часу на зв’язку з вами —  клієнтський менеджер. Всі етапи лікування
      контролює головний лікар — вона знає кожного пацієнта, який проходить лікування в
      клініках. За потреби, долучаємо суміжних спеціалістів: таких, як остеопат.
    </p>
    <p>
      Ми не намагаємось всім сподобатись за рахунок штучного wow-сервісу чи неіснуючих
      storytelling. Ми просто любимо те, що робимо і поважаємо людей, які звертаються до
      нас знову і знову.
    </p>
  </div>
</div>
