<div class="service-grid">
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Діагностика та консультація</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Лікування зубів та ясен</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Хірургічна стоматологія</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Ортодонтичне лікування</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Ортодонтичне лікування</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Плазмоліфтинг</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
</div>
