<section class="location-section">
  <picture class="location-section__img">
    <source type="image.webp" srcset="assets/images/banners/smiling_doctor_in_black_suite.webp" />
    <img
      src="assets/images/banners/smiling_doctor_in_black_suite.jpg"
      class="location-section__img-item"
      alt="smiling doctor in black suite"
    />
  </picture>
  <div class="location-section__text">
    <div class="location-section__text-inner">
      <h2 class="location-section__heading">
        Потурбуйтеся про здоров’я вашої посмішки разом з Dentaderm!
      </h2>

      <div class="location-badges location-section__location-badges">
        <div class="location-badges__item">
          <svg class="location-badges__icon">
            <use href="/assets/icons.svg#kyiv" />
          </svg>
          <h3 class="location-badges__title"><span>DENTADERM Київ</span></h3>
          <div class="location-badges__locations">
            <div class="location-badges__locations-inner">
              <a href="#">Київ, вул. Вишгородська, 56/2</a>
              <a href="tel:+380671842131" class="location-badges__phone"><b>(067) 184-21-31</b></a>
            </div>
            <div class="location-badges__locations-inner">
              <a href="#"> Київ, вул. Кловський узвіз, 7а </a>
              <a href="tel:+380987503030" rel="no-follow"><b>(098) 750-30-30</b></a>
            </div>
          </div>
        </div>
        <div class="location-badges__item">
          <svg class="location-badges__icon">
            <use href="/assets/icons.svg#irpin" />
          </svg>
          <h3 class="location-badges__title"><span>DENTADERM Ірпінь</span></h3>
          <div class="location-badges__locations">
            <div class="location-badges__locations-inner">
              <a href="#">Ірпінь, вул. Соборна, 107</a>
              <a href="tel:+380631414575"><b>(063) 141-45-75</b></a>
            </div>
          </div>
        </div>
        <div class="location-badges__btn-group">
          <button
            class="location-section__btn btn btn--white-alt btn--square"
            data-modal-id="modal-appointment"
            data-layer-event="123"
          >
            Зворотній дзвінок
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
