<section class="menu">
  <div class="menu__holder">
    <!-- #reigon menu header -->
    <div class="menu__header">
      <!-- #reigon socials -->
      <div class="socials menu__socials">
        <ul class="socials__list socials__list--narrow">
          <li class="socials__item">
            <a
              class="socials__link"
              target="_blank"
              href="https://www.instagram.com/denta_derm/"
            >
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#instagram" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              target="_blank"
              href="https://www.facebook.com/dentaderm"
            >
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#facebook" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" target="_blank" href="https://tinyurl.com/27phvmbk">
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#viber" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" target="_blank" href="https://t.me/DentaDerm_Kyiv">
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#telegram" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!-- #endreigon socials -->

      <!-- #reigon lang selector -->
      <ul class="lang-selector lang-selector--hor menu__lang-selector">
        <li class="lang-selector__item lang-selector__item--active">
          <a class="lang-selector__link lang-selector__link" href="#">Ua</a>
        </li>
        <li class="lang-selector__item">
          <a class="lang-selector__link" href="#">Ru</a>
        </li>
      </ul>
      <!-- #endreigon lang selector -->
    </div>
    <!-- #endreigon menu header -->

    <nav class="menu__nav">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Діагностика і консультація</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Лікування зубів та ясен</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Хірургічна стоматологія</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Ортодонтичне лікування</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Ортопедичне лікування</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Плазмоліфтинг</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Ціни</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Наші фахівці</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Про клініку</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Благодійність</a>
        </li>
      </ul>
      <ul class="menu__list menu__list--secondary">
        <li class="menu__item menu__item--secondary">
          <a class="menu__link menu__link--secondary" href="#">
            Рекомендації пацієнтам
          </a>
        </li>
        <li class="menu__item menu__item--secondary">
          <a class="menu__link menu__link--secondary" href="#">Акції</a>
        </li>
        <li class="menu__item menu__item--secondary">
          <a class="menu__link menu__link--secondary" href="#"> Ліцензії та дозволи </a>
        </li>
        <li class="menu__item menu__item--secondary">
          <a class="menu__link menu__link--secondary" href="#">Статті</a>
        </li>
        <li class="menu__item menu__item--secondary">
          <a class="menu__link menu__link--secondary" href="#">Відгуки</a>
        </li>
      </ul>
    </nav>
    <div class="menu__location-tabs">
      <!--@import ./location-tabs.html-->
    </div>
  </div>
</section>
