<div class="hero-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media video" data-video-id="zOfUeZu2juk">
          <div class="video__play"></div>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Лозовицька Єкатерина</h3>
          <!-- <div class="hero-card__nav">
            <button
              class="hero-card__nav-btn hero-card__nav-btn--prev"
              aria-label="Попередній слайд"
            >
              <svg class="icon hero-card__nav-icon">
                <use href="/assets/icons.svg#arrow-left" />
              </svg>
            </button>
            <button
              class="hero-card__nav-btn hero-card__nav-btn--next"
              aria-label="Наступний слайд"
            >
              <svg class="icon hero-card__nav-icon">
                <use href="/assets/icons.svg#arrow-right" />
              </svg>
            </button>
          </div> -->
        </div>
        <div class="hero-card__description">
          <p>Переможниця 12 сезону шоу “Холостяк”, супермодель</p>
          <p>
            Брекет-система: <b>самолігуючі керамічні</b><br />
            Час лікування: <b>в процесі лікування</b>
          </p>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/celebrity_reply_hamaiko.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/celebrity_reply_hamaiko.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Хамайко Валентина та Оністрат Соломія</h3>
        </div>
        <div class="hero-card__description">
          <p>Валентина — акторка, телеведуча проєкту «Сніданок Вихідний» на 1+1</p>
          <p>
            Брекет-система: <b>металева</b><br />
            Час лікування: <b>в процесі лікування</b>
          </p>
        </div>
      </article>
    </div>

    <div class="swiper-slide">
      <article class="hero-card">
        <div class="hero-card__media">
          <picture>
            <source
              type="image/webp"
              srcset="assets/images/service/celebrity_reply_slavinska.webp"
            />
            <img
              loading="lazy"
              class="hero-card__media-item"
              src="assets/images/service/celebrity_reply_slavinska.jpg"
              alt="img"
            />
          </picture>
        </div>
        <div class="hero-card__header">
          <h3 class="hero-card__title">Славінська Ірина</h3>
        </div>
        <div class="hero-card__description">
          <p>
            Співзасновниця "ДонорUA", президентка ГО "Всеукраїнська асоціація донорів
            України
          </p>
          <p>
            Брекет-система: <b>елайнери Invisalign</b><br />
            Час лікування: <b>в процесі лікування</b>
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
