<section class="hero-section">
  <div class="hero-section__container">
    <div class="hero-section__content">
      <div class="hero-section__inner hero-section__inner--content-center">
        <h2>Як ми підходимо до ортодонтичного лікування:</h2>
        <p>
          Вирівнювання зубів ≠ ортодонтичному лікуванню. Це головний принцип нашої роботи.
          Ортодонтичне лікування — це серйозне втручання в зубощелепну систему, яке
          впливає на інші частини нашого організму.
        </p>
        <p>
          Це про дослідження роботи суглобів, пошук оптимального положення при змиканні
          зубів відносно черепу, аналіз даних функціональної діагностики, за яким
          складається ортодонтичний план лікування.
        </p>
        <button class="btn btn--square">Про функціональну діагностику</button>
      </div>
    </div>
    <picture class="hero-section__image">
      <source type="image/webp" srcset="/assets/images/service/ortho_diagnosis.webp" />
      <img
        loading="lazy"
        class="hero-section__image-item hero-section__image-item--cover"
        src="/assets/images/service/ortho_diagnosis.jpg"
        alt="img"
      />
    </picture>
  </div>
</section>
