<div class="service-grid">
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Керамічні брекети</div>
      <div class="service-tile__price">від 38 300 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Металеві брекети</div>
      <div class="service-tile__price">від 28 250 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Самолігуючі брекети</div>
      <div class="service-tile__price">від 28 250 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Цифрові брекети Інсігнія (США)</div>
      <div class="service-tile__price">від 88 000 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Елайнери (Інвізілайн) США</div>
      <div class="service-tile__price">від 195 200 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Пластинки</div>
      <div class="service-tile__price">від 4 000 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Мікроімпланти</div>
      <div class="service-tile__price">від 6 960 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
</div>
