<div class="related-grid related-grid--lg">
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Керамічні брекети</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Металеві брекети</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Самолігуючі брекети</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Цифрові брекети Інсігнія (США)</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Елайнери (Інвізілайн) США</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Пластинки</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Мікроімпланти</div>
    </div>
  </a>
</div>
