<div class="card-carousel card-carousel--photo">
  <div class="card-carousel__swiper swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- #region discount card -->
        <div class="charity-gallery charity-gallery--layout-2">
          <a
            href="assets/images/gallery/vyshgorodska/1.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/1.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/1.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/2.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/2.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/2.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/3.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/3.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/3.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/4.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/4.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/4.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
        </div>
        <!-- #endregion discount card -->
      </div>

      <div class="swiper-slide">
        <!-- #region discount card -->
        <div class="charity-gallery charity-gallery--layout-3">
          <a
            href="assets/images/gallery/vyshgorodska/5.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/5.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/5.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/6.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/6.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/6.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/7.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/7.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/7.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
        </div>
        <!-- #endregion discount card -->
      </div>

      <div class="swiper-slide">
        <!-- #region discount card -->
        <div class="charity-gallery charity-gallery--layout-1">
          <a
            href="assets/images/gallery/vyshgorodska/8.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/8.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/8.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/9.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/9.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/9.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
        </div>
        <!-- #endregion discount card -->
      </div>

      <div class="swiper-slide">
        <!-- #region discount card -->
        <div class="charity-gallery charity-gallery--layout-3">
          <a
            href="assets/images/gallery/vyshgorodska/10.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/10.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/10.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/11.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/11.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/11.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
          <a
            href="assets/images/gallery/vyshgorodska/12.jpg"
            class="charity-gallery__link"
            data-fancybox="army"
          >
            <picture>
              <source
                type="image/webp"
                srcset="assets/images/gallery/vyshgorodska/12.webp"
              />
              <img
                loading="lazy"
                class="charity-gallery__thumb"
                src="assets/images/gallery/vyshgorodska/12.jpg"
                alt="Gallery item"
              />
            </picture>
          </a>
        </div>
        <!-- #endregion discount card -->
      </div>
    </div>
  </div>
</div>
