<ul class="price-list wow fadeInUp">
  <li class="price-list__item">
    <span class="price-list__name">Мала функціональна діагностика</span>
    <span class="price-list__price">від 2 600 грн</span>
  </li>
  <li class="price-list__item">
    <span class="price-list__name">Базова функціональна діагностика</span>
    <span class="price-list__price">від 2 600 грн</span>
  </li>
  <li class="price-list__item">
    <a href="#" class="price-list__link">
      <svg class="icon price-list__icon">
        <use href="/assets/icons.svg#external-source" />
      </svg>
      <span class="price-list__name">Розширена функціональна діагностика</span>
      <span class="price-list__price">від 2 600 грн</span>
    </a>
  </li>
</ul>
