<!--#region price accordion -->
<ul class="accordion prices">
  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Лікування зубів та ясен</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Дорослий Чек Ап">Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Відбілювання зубів">Відбілювання зубів</span>
              <b>від 4 400 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Лікування кореневих каналів">
                Лікування кореневих каналів
              </span>
              <b>від 8 800 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Пломбування зубів">Пломбування зубів</span>
              <b>від 2 250 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Лікування карієсу">Лікування карієсу</span>
              <b>від 2 250 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Скейлінг пародонтальних кишень">
                Скейлінг пародонтальних кишень
              </span>
              <b>від 2 400 грн.</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Скейлінг пародонтальних кишень">
                Пародонтологічна карта
              </span>
              <b>від 2 400 грн.</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Професійна гігієна"> Професійна гігієна </span>
              <b>від 2 000 грн.</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Діагностика та консультація</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Рентгенографія та КТ">Рентгенографія та КТ</span>
              <b>від 2 000 грн.</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Функціональна діагностика">
                Функціональна діагностика
              </span>
              <b>від 8 070 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Перший прийом">Перший прийом</span>
              <b>від 300 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Хірургічна стоматологія</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Седація">Седація</span>
              <b>від 4 500 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Імплантація зубів">Імплантація зубів</span>
              <b>від 14 500 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Пластика вуздечки">Пластика вуздечки</span>
              <b>від 1 700 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Синус ліфтинг">Синус ліфтинг</span>
              <b>від 13 000 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Кісткова пластика">Кісткова пластика</span>
              <b>від 13 000 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Видалення зубів мудрості">
                Видалення зубів мудрості
              </span>
              <b>від 4 070 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Видалення зубів">Видалення зубів</span>
              <b>від 3 050 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Ортодонтичне лікування</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Мікроімпланти">Мікроімпланти</span>
              <b>від 6 950 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Мікроімпланти">Пластинки на зуби</span>
              <b>від 4 000 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Елайнери (інвізілайн) США">
                Елайнери (інвізілайн) США
              </span>
              <b>від 195 200 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Цифрові брекети Інсігнія (США)">
                Цифрові брекети Інсігнія (США)
              </span>
              <b>від 88 200 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Самолігуючі брекети">Самолігуючі брекети</span>
              <b>від 28 250 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Металеві брекети">Металеві брекети</span>
              <b>від 28 250 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Керамічні брекети">Керамічні брекети</span>
              <b>від 38 300 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Ортопедичне лікування</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Вініри">Вініри</span>
              <b>від 15 500 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Зубні протези">Зубні протези</span>
              <b>від 15 500 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Коронки на зуби">Коронки на зуби</span>
              <b>від 9 300 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Керамічна вкладка">Керамічна вкладка</span>
              <b>від 9 300 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Плазмоліфтинг</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <svg class="icon prices__icon">
                <use href="assets/icons.svg#external-source" />
              </svg>
              <span data-service-name="Плазмоліфтинг">Плазмоліфтинг</span>
              <b>від 5 000 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
</ul>
<!--#endregion price accordion -->
