<ul class="price-list wow fadeInUp">
  <li class="price-list__item">
    <span class="price-list__name">Мала функціональна діагностика</span>
    <span class="price-list__price">від 2 600 грн</span>
  </li>
  <li class="price-list__item">
    <span class="price-list__name">Базова функціональна діагностика</span>
    <span class="price-list__price">від 2 600 грн</span>
  </li>
  <li class="price-list__item">
    <span class="price-list__name">Розширена функціональна діагностика</span>
    <span class="price-list__price">від 2 600 грн</span>
  </li>
</ul>
