<!--#region price accordion -->
<ul class="accordion prices">
  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Діагностика і консультація</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Лікування зубів та ясен</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Хірургічна стоматологія</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Ортодонтичне лікування</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Ортопедичне лікування</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->

  <!--#region price accordion item -->
  <li class="accordion-item prices__item">
    <div class="accordion-label prices__label">
      <span>Плазмоліфтинг</span>
      <svg class="icon prices__arrow">
        <use href="assets/icons.svg#shevron-bottom" />
      </svg>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <ul class="prices prices--sub">
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
        <li class="accordion-item prices__item prices__item--sub">
          <div class="accordion-label prices__label prices__label--sub">
            <a href="#" class="prices__link">
              <span>Дорослий Чек Ап</span>
              <b>від 2 600 грн</b>
            </a>
          </div>
        </li>
      </ul>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
</ul>
<!--#endregion price accordion -->
