<div class="recommendations">
  <div class="row">
    <div class="col-12 col-lg-5 col-2xl-4">
      <picture class="recommendations__img">
        <source
          type="image/webp"
          srcset="assets/images/service/doctor_with_notebook.webp"
        />
        <img
          loading="lazy"
          class="recommendations__img-item"
          src="assets/images/service/doctor_with_notebook.jpg"
          alt="img"
        />
      </picture>
    </div>
    <div class="col-12 col-lg-7 col-2xl-8">
      <div class="recommendations__content">
        <ul class="recommendations-list">
          <li class="recommendations-list__item">
            <a class="recommendations-list__link" href="#">
              <span>Діагностика і консультація</span>
              <svg class="icon recommendations-list__icon">
                <use href="assets/icons.svg#arrow-right" />
              </svg>
            </a>
          </li>
          <li class="recommendations-list__item">
            <a class="recommendations-list__link" href="#">
              <span>Лікування зубів та ясен</span>
              <svg class="icon recommendations-list__icon">
                <use href="assets/icons.svg#arrow-right" />
              </svg>
            </a>
          </li>
          <li class="recommendations-list__item">
            <a class="recommendations-list__link" href="#">
              <span>Хірургічна стоматологія</span>
              <svg class="icon recommendations-list__icon">
                <use href="assets/icons.svg#arrow-right" />
              </svg>
            </a>
          </li>
          <li class="recommendations-list__item">
            <a class="recommendations-list__link" href="#">
              <span>Ортодонтичне лікування</span>
              <svg class="icon recommendations-list__icon">
                <use href="assets/icons.svg#arrow-right" />
              </svg>
            </a>
          </li>
          <li class="recommendations-list__item">
            <a class="recommendations-list__link" href="#">
              <span>Ортопедичне лікування</span>
              <svg class="icon recommendations-list__icon">
                <use href="assets/icons.svg#arrow-right" />
              </svg>
            </a>
          </li>
          <li class="recommendations-list__item">
            <a class="recommendations-list__link" href="#">
              <span>Плазмоліфтинг</span>
              <svg class="icon recommendations-list__icon">
                <use href="assets/icons.svg#arrow-right" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
