<!--#region price accordion -->
<ul class="accordion faq block__faq">
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Видалення зубів</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Встановлення брекет-системи — перший крок на шляху до красивої, здорової
          усмішки. Та в перші 1-2 тижні на Вас чекає період адаптації (звикання).
          Нормальні явища у цей час — дискомфорт, больові відчуття, головний біль та
          незначне порушення дикції. Звикнути до брекетів швидше й зробити звикання
          комфортним допоможуть наступні рекомендації:
        </p>
        <ul>
          <li>
            Вживайте лише м’яку їжу у перший тиждень після фіксації. Це зменшить тиск на
            зуби.
          </li>
          <li>
            Відмовтеся від липкої та твердої їжі на весь період лікування. Краще виключити
            з раціону горішки, насіння, жувальну гумку.
          </li>
          <li>
            Щоб споживання їжі було комфортним, ріжте тверді овочі та фрукти на маленькі
            шматочки.
          </li>
          <li>
            Дотримуйтесь правил гігієни — чистьте зуби двічі на день після вживання їжі.
            Використовуйте щітку та йоршики, які підібрав для Вас лікар-стоматолог.
          </li>
          <li>
            Не пропускайте професійну гігієну. Під час носіння брекетів її потрібно робити
            хоча б 1 раз на 3 місяці.
          </li>
        </ul>
        <p>
          Перший тиждень після встановлення брекетів супроводжується найбільшим
          дискомфортом. Але важливо розуміти, що неприємні відчуття є варіантом норми та
          незабаром зникнуть. Додаткові рекомендації:
        </p>
        <ul>
          <li>
            Якщо Вам важко терпіти біль, прийміть знеболювальну таблетку (“Нурофен”,
            “Німесил” тощо).
          </li>
          <li>
            Якщо елемент брекет-системи травмує щоку, його необхідно ізолювати захисним
            воском або силіконом.
          </li>
          <li>
            У випадку запалення травмованої ділянки, прополощіть рот лікувальним
            ополіскувачем “Гівалекс”.
          </li>
        </ul>
        <h4>Рекомендації після зняття брекет-систем</h4>
        <p>
          Вітаємо, сьогодні Ви здійснили ще одну мрію — отримали ідеальну посмішку! Ми
          знаємо, що носити брекети було складно, а часом — дуже дискомфортно. Зате
          результат того вартий, чи не так?
        </p>
        <p>
          Тепер залишилося лише підтримувати зуби в такому ж ідеальному стані.
          Дотримуйтеся нескладних правил, щоб закріпити результат. За ортодонтичним
          лікуванням завжди слідує ретенція, або ж період утримання. Якщо у Вас — знімний
          ретейнер, носіть його за такою схемою:
        </p>
        <ul>
          <li>1 рік — кожної вночі;</li>
          <li>2 рік — через ніч;</li>
          <li>
            3 рік — через дві-три ночі, поступово довівши режим до однієї ночі в тиждень.
          </li>
        </ul>
        <p>Як доглядати за знімним ретейнером:</p>
        <ul>
          <li>зберігайте його у спеціальному контейнері;</li>
          <li>регулярно чистьте ретейнер пастою та щіткою;</li>
          <li>
            час від часу використовуйте антисептичні таблетки для більш ефективного
            очищення.
          </li>
        </ul>
        <p>
          Якщо ж Ви носите незнімний ретейнер, то достатньо дотримуватися стандартним
          правил гігієни ротової порожнини.
        </p>
        <p>
          І, звичайно ж, під час носіння ретейнерів потрібно відвідувати
          стоматолога-ортодонта 1 раз на 6 місяців.
        </p>
        <h4>Стоматологічна клініка DentaDerm</h4>
        <p>
          Якщо у Вас залишилися додаткові питання або Вам потрібно проконсультуватися зі
          стоматологом, телефонуйте за номером:
          <a class="info__phone-mob" href="tel:+380664203030">(066) 420-30-30</a>,
          <a class="info__phone-mob" href="tel:+380974203030">(097) 420-30-30.</a>
        </p>
        <p><strong>Будьте здорові!</strong></p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Видалення зубів мудрості</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>Recommendation goes here...</p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Кісткова пластика</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>Recommendation goes here...</p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Синус ліфтинг</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>
          Якщо зуби лежать у кістці або прорізалися частково — вони можуть змістити зубний
          ряд, через те носіння брекет-системи буде неефективним.
        </p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Пластика вуздечки</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>Recommendation goes here...</p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Імплантація</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>Recommendation goes here...</p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
  <!--#region price accordion item -->
  <li class="accordion-item faq__item">
    <div class="accordion-label faq__label">
      <span>Седація</span>
      <div class="faq__icon">+</div>
    </div>
    <div class="accordion__panel">
      <!--#region price accordion sub -->
      <div class="faq__body">
        <p>Recommendation goes here...</p>
      </div>
      <!--#endregion price accordion sub -->
    </div>
  </li>
  <!--#endregion price accordion item -->
</ul>
<!--#endregion price accordion -->
