<div class="recommendations wow fadeInUp">
  <div class="row">
    <div class="col-12 col-lg-5">
      <picture class="recommendations__img">
        <source
          type="image/webp"
          srcset="assets/images/service/doctor_with_notebook.webp"
        />
        <img
          loading="lazy"
          class="recommendations__img-item"
          src="assets/images/service/doctor_with_notebook.jpg"
          alt="img"
        />
      </picture>
    </div>
    <div class="col-12 col-lg-7">
      <div class="recommendations__content expand-container">
        <div
          class="recommendations__panel expand-container__panel expand-container__panel--gray"
        >
          <p>
            Після видалення зуба лікар-стоматолог надасть вам письмові поради щодо способу
            життя в перші дні та особливостей догляду за ротовою порожниною. За
            необхідністю, фахівець може призначити медикаменти: протизапальні,
            знеболювальні. Рідше застосовується антибіотикотерапія (якщо мала місце
            інфекція).
          </p>
          <p>Наведемо загальні поради після видалення зуба мудрості:</p>
          <ul>
            <li>
              У перші 2–3 години після операції потрібно відмовитися від їжі та напоїв,
              особливе табу — гарячі напої та їжа.
            </li>
            <li>
              Намагайтеся жувати на здорову сторону, не лягайте на щоку, де був видалений
              зуб.
            </li>
            <li>Не полощіть рот, не грійте щоку.</li>
            <li>Не приймайте гарячу ванну.</li>
            <li>
              До моменту затягування швів бажано не палити, не пити алкоголь, не
              відкривати широко рот.
            </li>
            <li>Чистьте зуби через добу після процедури.</li>
          </ul>
          <p>
            Якщо мало місце складне видалення зуба мудрості, то після того, як анестезія
            проходить, починається сильний біль. Не терпіть його: прийміть знеболювальні
            ліки.
          </p>
          <p>
            Після видалення зуба мудрості важливо залишатися на зв’язку з лікарем, та
            звертатися до нього за наявності наступних симптомів:
          </p>
          <ul>
            <li>
              У лунці ви помітили сторонні речовини. Не намагайтеся видалити їх
              самостійно, це може призвести до ускладнень.
            </li>
            <li>Кровотеча з лунки після утворення згустку.</li>
            <li>
              Постійне збільшення набряку. Набряк не зникає протягом декількох днів після
              видалення, присутнє оніміння обличчя.
            </li>
            <li>
              Процес відкривання рота та ковтання викликає дискомфорт та сильний біль.
            </li>
            <li>Температура тіла не знижується протягом декількох днів.</li>
            <li>
              Біль не зменшується навіть у випадку, коли ви приймаєте сильні знеболювальні
              засоби.
            </li>
            <li>
              Почервоніння, біль та набряк ясен з’явилися у місці видаленні зуба вже після
              загоєння.
            </li>
          </ul>
          <p>
            Наявність навіть 1 симптому зі списку — привід негайно зателефонувати
            лікарю-стоматологу. Спеціаліст вислухає скарги, надасть термінові рекомендації
            та назначить вам найближчий час прийому. Проте не хвилюйтеся: ускладнення
            після видалення зуба — це виняток із правил. Якщо процедуру виконував
            кваліфікований лікар-стоматолог, а пацієнт дотримувався усіх рекомендацій,
            ймовірність таких проблем зменшена до мінімуму.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
