<div class="recommendations">
  <div class="row">
    <div class="col-12 col-lg-5 col-2xl-4">
      <picture class="recommendations__img">
        <source
          type="image/webp"
          srcset="/assets/images/service/doctor_with_notebook.webp"
        />
        <img
          loading="lazy"
          class="recommendations__img-item"
          src="/assets/images/service/doctor_with_notebook.jpg"
          alt="img"
        />
      </picture>
    </div>
    <div class="col-12 col-lg-7 col-2xl-8">
      <div class="recommendations__content">
        <!-- @import ./recommendations-faq.html -->
      </div>
    </div>
  </div>
</div>
