<div class="related-grid wow fadeInUp">
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Професійна гігієна та профілактика</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Лікування кореневих каналів</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Цифрові брекети Інсігнія (США)</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Видалення зубів мудрості</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Скейлінг</div>
    </div>
  </a>
</div>
