<article class="review-card">
  <h3 class="review-card__title">Марина Павлівна</h3>
  <div class="review-card__rating rating">
    <svg class="icon rating__star">
      <use href="/assets/icons.svg#star-filled" />
    </svg>
    <svg class="icon rating__star">
      <use href="/assets/icons.svg#star-filled" />
    </svg>
    <svg class="icon rating__star">
      <use href="/assets/icons.svg#star-filled" />
    </svg>
    <svg class="icon rating__star">
      <use href="/assets/icons.svg#star-filled" />
    </svg>
    <svg class="icon rating__star">
      <use href="/assets/icons.svg#star-filled" />
    </svg>
  </div>
  <p class="review-card__text">
    Дента Дерм найкраща стоматологія, яку відвідувала моя Родина, багато де ми були, але
    тут поєднано увага, турбота, професіоналізм, залишок. Дякуємо Діні Володимирівні та
    адміністратору Оксані за Вашу турботу та професійний підхід до кожного клієнта ❤️
  </p>
</article>
