<div class="reviews-carousel wow fadeInUp">
  <div class="reviews-carousel__swiper swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><!--@import ./review-card-long-text.html--></div>
      <div class="swiper-slide"><!--@import ./review-card.html--></div>
      <div class="swiper-slide"><!--@import ./review-card.html--></div>
      <div class="swiper-slide"><!--@import ./review-card.html--></div>
      <div class="swiper-slide"><!--@import ./review-card.html--></div>
    </div>
  </div>
</div>
