<section class="hero-section">
  <div class="hero-section__container">
    <div class="hero-section__content">
      <div class="hero-section__inner">
        <h2>Що про нас кажуть ті, хто тепер щасливо посміхається:</h2>
        <div class="review-slider hero-section__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><!--@import ./review-card.html--></div>
            <div class="swiper-slide"><!--@import ./review-card-long-text.html--></div>
            <div class="swiper-slide"><!--@import ./review-card.html--></div>
            <div class="swiper-slide"><!--@import ./review-card.html--></div>
            <div class="swiper-slide"><!--@import ./review-card.html--></div>
          </div>
        </div>

        <div class="hero-section__nav pagination">
          <button class="pagination__btn pagination__btn--prev">
            <svg class="icon pagination__icon">
              <use href="/assets/icons.svg#arrow-left" />
            </svg>
          </button>
          <div class="pagination__list"></div>
          <button class="pagination__btn pagination__btn--next">
            <svg class="icon pagination__icon">
              <use href="/assets/icons.svg#arrow-right" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <picture class="hero-section__image">
      <source
        type="image/webp"
        srcset="/assets/images/banners/smiling_woman_with_orchideas.webp"
      />
      <img
        loading="lazy"
        class="hero-section__image-item"
        src="/assets/images/banners/smiling_woman_with_orchideas.jpg"
        alt="img"
      />
    </picture>
  </div>
</section>
