<div class="category-banner">
  <div class="container category-banner__container">
    <div class="category-banner__inner">
      <img
        class="category-banner__logo"
        src="assets/images/dentaderm_logo_text_only_white.svg"
        alt="Dentaderm"
      />
      <h1 class="category-banner__tagline">Хірургічна стоматологія</h1>
      <ul class="crumbs crumbs--white category-banner__crumbs">
        <li class="crumbs__item">
          <a class="crumbs__endpoint crumbs__endpoint--link" href="#">Головна</a>
        </li>
        <li class="crumbs__item">
          <span class="crumbs__endpoint">Хірургічна стоматологія</span>
        </li>
      </ul>
      <div class="category-banner__media">
        <picture class="category-banner__img">
          <source
            type="image/webp"
            srcset="/assets/images/service-direction/surgery.webp"
          />
          <img
            class="category-banner__img-item"
            src="/assets/images/service-direction/surgery.png"
            alt="Хірургічна стоматологія"
          />
        </picture>
      </div>
      <!--@import service-category-related-grid-dark.html-->
      <button
        class="category-banner__appointment-btn btn btn--lightBlue btn--square"
        data-modal-id="modal-appointment"
      >
        Отримати консультацію
      </button>
    </div>
  </div>
</div>
