<div class="service-grid">
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Діагностика та консультація</div>
      <div class="service-tile__price">від 300 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Лікування зубів та ясен</div>
      <div class="service-tile__price">від 2 350 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Хірургічна стоматологія</div>
      <div class="service-tile__price">від 3 051 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Ортопедичне лікування</div>
      <div class="service-tile__price">від 8 888 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Професійна гігієна та профілактика</div>
      <div class="service-tile__price">від 2 000 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Імплантація</div>
      <div class="service-tile__price">від 14 500 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
  <a href="#" class="service-tile service-grid__item">
    <div class="service-tile__inner">
      <div class="service-tile__title">Металеві брекети</div>
      <div class="service-tile__price">від 28 500 грн</div>
      <div class="btn btn--default btn--white service-tile__btn">Детальніше</div>
    </div>
  </a>
</div>
