<div class="related-grid wow fadeInUp">
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Видалення зубів</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Видалення зубів мудрості</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Синус ліфтинг</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Кісткова пластика</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Пластика вуздечки</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Пластика ясен</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Кюретаж</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Імплантація</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Лікування зубів під наркозом</div>
    </div>
  </a>
  <a href="#" class="related-tile related-grid__item">
    <div class="related-tile__inner">
      <div class="related-tile__title">Плазмоліфтинг</div>
    </div>
  </a>
</div>
