<!-- #region steps -->
<ul class="steps">
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">1</div>
    </div>
    <h3 class="steps__title">Консультація головного лікаря і лікаря ортодонта</h3>
    <p class="steps__description">
      Первинний огляд-консультація, пальпація, проведення додаткових досліджень за
      призначенням
    </p>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">2</div>
    </div>
    <h3 class="steps__title">Терапевтичне лікування за призначенням лікаря</h3>
    <p class="steps__description">
      Санація ротової порожнини — обовʼязково. У процесі руху зубного ряду може
      розвинутися будь-яка патологія. Вилікувати її буде складніше через особливості
      ортодонтичної конструкції
    </p>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">3</div>
    </div>
    <h3 class="steps__title">Функціональна діагностика</h3>
    <p class="steps__description">
      Дослідження роботи скронево-нижньощелепного суглоба. Визначає фізіологічно-правильні
      параметри розміщення щелепи — норму та її відхилення
    </p>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">4</div>
    </div>
    <h3 class="steps__title">Складання і погодження плану ортодонтичного лікування</h3>
    <p class="steps__description">
      На основі всіх зібраних даних складається ортодонтичний план лікування. У цифровому
      вигляді ми бачимо точку “Б”, куди потрібно тягнути і рухати зубощелепну систему
    </p>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">5</div>
    </div>
    <h3 class="steps__title">Фіксація брекет-системи</h3>
    <p class="steps__description">
      Позиціонування брекет-системи з фіксацією на світлотвердільний матеріал
    </p>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">6</div>
    </div>
    <h3 class="steps__title">Ортодонтичне лікування</h3>
    <p class="steps__description">
      Корекції, заміна дуг, професійна гігієна кожні 3-6 місяців
    </p>
  </li>
  <li class="steps__item">
    <div class="steps__marker">
      <div class="steps__marker-value">7</div>
    </div>
    <h3 class="steps__title">Ретенційний період</h3>
    <p class="steps__description">фіксація ретейнеру за призначенням</p>
  </li>
</ul>
<!-- #endregion steps -->
