<div class="banner banner--dark banner--service">
  <div class="container banner__container">
    <picture class="banner__img">
      <source
        type="image/webp"
        srcset="assets/images/banners/diagnosis_ortho_tool.webp"
      />
      <img
        loading="lazy"
        class="banner__img-item"
        src="assets/images/banners/diagnosis_ortho_tool.jpg"
        alt="img"
      />
    </picture>
    <div class="banner__text banner__text--center-y">
      <img
        class="banner__logo"
        src="assets/images/dentaderm_logo_text_only_white.svg"
        alt="dentaderm текстовий логотип"
      />
      <h1 class="banner__tagline banner__tagline">Функціональна діагностика</h1>
      <ul class="crumbs crumbs--white banner__crumbs">
        <li class="crumbs__item">
          <a class="crumbs__endpoint crumbs__endpoint--link" href="#">Головна</a>
        </li>
        <li class="crumbs__item">
          <a class="crumbs__endpoint crumbs__endpoint--link" href="#">Послуги</a>
        </li>
        <li class="crumbs__item">
          <a class="crumbs__endpoint crumbs__endpoint--link" href="#">
            Діагностика і консультація
          </a>
        </li>
        <li class="crumbs__item">
          <span class="crumbs__endpoint">Функціональна діагностика</span>
        </li>
      </ul>
      <div class="banner__desc">
        Людина — це досконала система, в якій кожен елемент впливає на роботу іншого. Так
        працює і зубощелепна система, де кожен зуб, бугри на зубах, навіть нахил бугрів на
        зубах — відповідають за певну функцію: кусання, жування, підтримку щелепи у
        правильному положенні.
      </div>
      <button
        data-modal-id="modal-appointment"
        class="btn btn--square btn--lightBlue banner__appointment-btn"
      >
        Запис на консультацію
      </button>
    </div>
    <div class="banner__content">
      <h3>Отримайте консультацію</h3>
      <!-- @import ./appointment-form.html -->
    </div>
  </div>
  <button class="banner__mousewheel">
    <img src="/assets/images/mousewheel.svg" alt="mousheel icon" />
  </button>
</div>
