<section class="stages stages--unshift-2xl">
  <h2 class="stages__heading wow fadeInRight">Етапи лікування</h2>
  <ul class="stages__list">
    <li class="stages__item wow fadeInUp">
      <h3 class="stages__title">Мала функціональна діагностика</h3>
      <div class="stages__text">
        <ul>
          <li>Заповнюємо форму загального стану пацієнта;</li>
          <li>Проводимо фотодіагностику (знімки зубів, посмішки, обличчя та постави);</li>
          <li>Проводимо пальпацію тонусу м’язів та больових відчуттів у суглобах;</li>
          <li>Знімаємо відбитки зубів для виготовлення гіпсових моделей.</li>
        </ul>
      </div>
      <div class="stages__media">
        <picture class="stages__img">
          <source
            type="image/webp"
            srcset="/assets/images/service/ortho_diagnosis.webp"
          />
          <img
            class="stages__img-item"
            src="assets/images/service/ortho_diagnosis.jpg"
            alt="Мала функціональна діагностика"
          />
        </picture>
      </div>
    </li>
    <li class="stages__item wow fadeInUp">
      <h3 class="stages__title">Базова функціональна діагностика</h3>
      <div class="stages__text">
        <ul>
          <li>
            Проводимо оклюзіограму для визначення кількості і якості контактів між зубами;
          </li>
          <li>
            Робимо телерентгенограму (рентген бокової проєкції черепа) та її розшифровку;
          </li>
          <li>
            Загіпсовуємо моделі зубів пацієнта в артикулятор, що відтворюватиме його рухи;
          </li>
          <li>
            Визначаємо розміщення верхньої й нижньої щелепи відносно основи черепа та
            вираховуємо норму й відхилення від норми.
          </li>
        </ul>
      </div>
      <div class="stages__media">
        <div class="stages__video video" data-video-id="eth3C4SQH3g">
          <div class="video__play"></div>
        </div>
      </div>
    </li>
    <li class="stages__item wow fadeInUp">
      <h3 class="stages__title">Розширена функціональна діагностика</h3>
      <div class="stages__text">
        <p>*проведення кондилографії</p>
        <p>
          Отримані дані демонструють динаміку індивідуальних рухів нижньої щелепи та
          анатомічні особливості будови жувальної системи пацієнта, на основі чого можна
          планувати подальше ортопедичне чи ортодонтичне лікування
        </p>
      </div>
      <div class="stages__media">
        <div class="stages__video video" data-video-id="cG18LsT_6Ug">
          <div class="video__play"></div>
        </div>
      </div>
    </li>
    <li class="stages__item wow fadeInUp">
      <h3 class="stages__title">Результат лікування</h3>
      <div class="stages__media">
        <!--@import before-after.html-->
      </div>
    </li>
  </ul>
</section>
