<div class="toast-beta">
  <div class="toast-beta__warning">
    <svg class="icon toast-beta__warning-icon">
      <use href="/assets/icons.svg#alert-triangle" />
    </svg>
    <span class="toast-beta__warning-text">Бета-тест</span>
  </div>
  <div class="toast-beta__body">
    <p class="toast-beta__message">
      <b class="toast-beta__message-subtitle">Зверніть увагу!</b>
      <span>
        Сайт нашої клініки перебуває на етапі оновлення і тестування. В разі
        виникнення технічних збоїв ви можете перемкнутися на стару версію.
      </span>
    </p>
    <button class="toast-beta__btn toast-beta__btn--hide">Зрозуміло</button>
    <a href="#" class="toast-beta__btn toast-beta__btn--old" target="_blank">
      Стара версія сайту
    </a>
    <svg class="icon toast-beta__close">
      <use href="/assets/icons.svg#cancel" />
    </svg>
  </div>
</div>
