<footer class="footer page__footer">
  <div class="footer__holder">
    <div class="footer__logo">
      <a class="footer__logo-link" href="/">
        <img
          loading="lazy"
          class="logo footer__logo-item"
          src="assets/images/dentyaderm_logo_white.svg"
          alt="Dentaderm logo"
        />
      </a>
    </div>
    <div class="footer__map">
      <div id="map" class="footer__map-item"></div>
    </div>
    <div class="footer__locations">
      <div class="tabs location-tabs location-tabs--white">
        <div class="tabs-head location-tabs__head">
          <button class="tabs-btn active location-tabs__btn" data-tab-target="kiyv">
            Київ
          </button>
          <button class="tabs-btn location-tabs__btn" data-tab-target="irpin">
            Ірпінь
          </button>
        </div>
        <div class="tabs-content location-tabs__content">
          <div
            class="tabs-content-item location-tabs__content-item"
            data-tab-content="kiyv"
          >
            <div class="location-tabs__address">
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                вул. Вишгородська, 56/2
              </p>
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                Пн-Сб: 9.00 - 20.00
              </p>
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                <a href="tel:+380676250862">(067) 625-08-62</a>
              </p>
            </div>
            <div class="location-tabs__address">
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                вул. Кловський узвіз, 7а
              </p>
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                Пн-Сб: 9.00 - 20.00
              </p>
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                <a href="tel:+380987503030">(098) 750-30-30</a>
              </p>
            </div>
          </div>
          <div
            class="tabs-content-item location-tabs__content-item"
            data-tab-content="irpin"
          >
            <div class="location-tabs__address">
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                вул. Соборна, 107
              </p>
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                Пн-Сб: 9.00 - 20.00
              </p>
              <p class="location-tabs__address-row location-tabs__address-row--sm">
                <a href="tel:+380631414491">(063) 141-44-91</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__nav">
      <nav class="primary-nav footer__primary-nav">
        <ul class="primary-nav__list">
          <li class="primary-nav__item">
            <a class="primary-nav__link" href="#">Послуги</a>
          </li>
          <li class="primary-nav__item">
            <a class="primary-nav__link" href="#">Про клініку</a>
          </li>
          <li class="primary-nav__item">
            <a class="primary-nav__link" href="#">Наші фахвці</a>
          </li>
          <li class="primary-nav__item">
            <a class="primary-nav__link" href="#">Ціни</a>
          </li>
        </ul>
      </nav>
      <nav class="secondary-nav footer__secondary-nav">
        <ul class="secondary-nav__list">
          <li class="secondary-nav__item">
            <a class="secondary-nav__link" href="#">Статті</a>
          </li>
          <li class="secondary-nav__item">
            <a class="secondary-nav__link" href="#">Відгуки</a>
          </li>
          <li class="secondary-nav__item">
            <a class="secondary-nav__link" href="#">Рекомендації пацієнтам</a>
          </li>
          <li class="secondary-nav__item">
            <a class="secondary-nav__link" href="#">Ліцензії та дозволи</a>
          </li>
          <li class="secondary-nav__item">
            <a class="secondary-nav__link" href="#">Акції</a>
          </li>
          <li class="secondary-nav__item">
            <a class="secondary-nav__link" href="#">Політика конфіденційності</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="socials socials--white footer__socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a
              class="socials__link"
              target="_blank"
              href="https://www.instagram.com/denta_derm/"
            >
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#instagram" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              target="_blank"
              href="https://www.facebook.com/dentaderm"
            >
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#facebook" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" target="_blank" href="https://tinyurl.com/27phvmbk">
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#viber" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" target="_blank" href="https://t.me/DentaDerm_Kyiv">
              <svg class="icon socials__icon">
                <use href="assets/icons.svg#telegram" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__studio branding-studio">
        <a class="branding-studio__link" href="#" target="_blank">
          <img
            loading="lazy"
            class="branding-studio__logo"
            src="assets/images/fancy-design-logo.svg"
            alt="fancy design logo"
          />
        </a>
      </div>
      <div class="footer__copy">
        <p>© DentaDerm 2020. Всі права захищені</p>
      </div>
    </div>
  </div>
</footer>
