<footer class="footer-simple page__footer-simple">
  <div class="container container--fluid">
    <div class="footer-simple__holder">
      <div class="footer-simple__studio branding-studio">
        <a class="branding-studio__link" href="#" target="_blank">
          <img
            loading="lazy"
            class="branding-studio__logo"
            src="assets/images/fancy-design-logo.svg"
            alt="fancy design logo"
          />
        </a>
      </div>
      <div class="footer-simple__copy">
        <p>© DentaDerm 2020. Всі права захищені</p>
      </div>
    </div>
  </div>
</footer>
