<header class="header page__header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="#" class="header__logo-link">
        <img
          class="header__logo-img"
          src="/assets/images/dentyaderm_logo_white.svg"
          alt="dentaderm логотип"
        />
      </a>
    </div>

    <div class="burger-btn burger-btn--white burger-btn--sm header__menu-btn">
      <span class="burger-btn__top"></span>
      <span class="burger-btn__middle"></span>
      <span class="burger-btn__bottom"></span>
    </div>

    <ul class="contact-list header__contact-list">
      <li class="contact-list__item">
        <a href="#" target="_blank" class="contact-list__address">
          Ірпінь, вул. Соборна, 107
        </a>
        <a href="tel:+380631414575" class="contact-list__phone">(063) 141-45-75</a>
      </li>
      <li class="contact-list__item">
        <a href="#" target="_blank" class="contact-list__address">
          Київ, вул. Вишгородська, 56/2
        </a>
        <a href="tel:+380671842131" class="contact-list__phone">(067) 184-21-31</a>
      </li>
      <li class="contact-list__item">
        <a href="#" target="_blank" class="contact-list__address">
          Київ, вул. Кловський узвіз, 7а
        </a>
        <a href="tel:+3800987503030" class="contact-list__phone">(098) 750-30-30</a>
      </li>
    </ul>
    <button class="btn btn--default btn--white header__appointment">
      Записатися на прийом
    </button>
  </div>
</header>
