<aside class="page__sidebar sidebar" aria-label="Меню" aria-role="button" tabindex="0">
  <ul class="lang-selector sidebar__lang-selector">
    <li class="lang-selector__item lang-selector__item--active">
      <a class="lang-selector__link lang-selector__link" href="#">Ua</a>
    </li>
    <li class="lang-selector__item">
      <a class="lang-selector__link" href="#">Ru</a>
    </li>
  </ul>

  <div class="sidebar__menu-btn">
    <div class="burger-btn">
      <span class="burger-btn__top"></span>
      <span class="burger-btn__middle"></span>
      <span class="burger-btn__bottom"></span>
    </div>
  </div>

  <div class="socials socials--vertical sidebar__socials">
    <ul class="socials__list">
      <li class="socials__item">
        <a
          class="socials__link"
          target="_blank"
          href="https://www.instagram.com/denta_derm/"
        >
          <svg class="icon socials__icon">
            <use href="/assets/icons.svg#instagram" />
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link"
          target="_blank"
          href="https://www.facebook.com/dentaderm"
        >
          <svg class="icon socials__icon">
            <use href="/assets/icons.svg#facebook" />
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" target="_blank" href="https://tinyurl.com/27phvmbk">
          <svg class="icon socials__icon">
            <use href="/assets/icons.svg#viber" />
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" target="_blank" href="https://t.me/DentaDerm_Kyiv">
          <svg class="icon socials__icon">
            <use href="/assets/icons.svg#telegram" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</aside>
