.block {
  $this: &;

  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;

    @include media(">=md") {
      margin-bottom: 4rem;
    }

    @include media(">=xl") {
      margin-bottom: 5rem;
    }
  }

  &__header-btn {
    flex: 0 0 auto;
  }

  &__title {
    flex: 1 1 auto;
    margin: 0;
  }

  &__btn {
    flex: 0 0 auto;
  }

  &__cards-grid {
    margin: 0 0 5rem;
  }

  &__subtitle {
    flex: 0 0 100%;
  }

  &--separated {
    &-b {
      padding-bottom: 5rem;
      border-bottom: 1px solid $gray200;

      @include media(">=md") {
        padding-bottom: 6rem;
      }

      @include media(">=2xl") {
        padding-bottom: 7rem;
      }
    }

    &-t {
      padding-top: 5rem;
      border-top: 1px solid $gray200;

      @include media(">=md") {
        padding-top: 6rem;
      }

      @include media(">=2xl") {
        padding-top: 7rem;
      }
    }
  }

  &--dark {
    background-color: $black;
    color: $white;
    padding: 5rem 0;

    @include media(">=md") {
      padding: 8rem 0;
    }

    &#{$this}--separated {
      &-b {
        border-bottom: 1px solid $gray800;
      }

      &-t {
        border-bottom: 1px solid $gray800;
      }
    }
  }

  &--gray {
    background-color: $gray100;
    padding: 5rem 0;
    border: none;

    @include media(">=md") {
      padding: 6rem 0;
    }

    @include media(">=2xl") {
      padding: 7rem 0;
    }
  }

  &--pt-0 {
    padding-top: 0;
  }

  &--pb-0 {
    padding-bottom: 0;
  }

  &--p-0 {
    padding: 0;
  }

  &__sub:not(:last-child) {
    margin: 0 0 3rem;

    @include media(">=3xl") {
      margin: 0 0 4rem;
    }
  }
}
